@model List<DAL.ViewModels.OrderDetailKOTViewModel>;
@{
    int count = 1;
}

@foreach (var item in Model)
{
    if(item.OrderItems.Count == 0)
    {
        continue;
    }
    <div class="OrderDetailCard d-flex flex-column" onclick="LoadOrderStatusItem(this)" order-id="@item.OrderId">
        <div class="custom-bg-grey flex-column" style="height: 70px;">
            <div class="d-flex justify-content-between m-2">
                <div class="text-primary fw-bold orderid" order-id="@item.OrderId"># @item.OrderId</div>
                <div class="d-flex gap-1 text-secondary fw-"><span><i class="bi bi-stopwatch"></i></span> <span class="live-timer" data-createdat="@item.OrderDate.ToString("yyyy-MM-ddTHH:mm:ss")"> </span></div>
            </div>
            <div class="m-2 fw-semibold">

                <span>@item.SectionName</span>
                <span><i class="bi bi-dot"></i></span>
                @foreach (var i in item.TableNames)
                {
                    <span>@i</span>
                }

            </div>
        </div>
        <div style="height: 200px;" class="bg-white p-2 overflow-auto">
            @foreach (var i in item.OrderItems)
            {
                <div>
                    <div class="d-flex justify-content-between"><span class="text-secondary fw-bold">@i.ItemName</span>
                    @if(i.PendingQuantity != null)
                    {
                        <span>@i.PendingQuantity</span>
                    }
                    else
                    {
                        <span>@i.ReadyQuantity</span>
                    }
                        
                    </div>
                    <ul>
                        @foreach (var j in i.ModifierList)
                        {
                            <li class="text-secondary">@j.ModifierItemName</li>
                        }
                    </ul>
                    @if (!string.IsNullOrEmpty(i.Instruction))
                    {
                        <div class="mb-2"><span class="text-primary">Instruction : </span> <span>@i.Instruction</span></div>
                    }

                </div>
            }

        </div>
        <div class="custom-bg-grey" style="height: 70px;">
            @if (item.Instruction != null)
            {
                <div class="m-2"><span class="text-primary">Order Instruction : </span> <span>@item.Instruction</span>
                </div>
            }

        </div>
    </div>
}
