@* @model DAL.ViewModels.MenuViewModel; *@
@model DAL.ViewModels.MenuItemsPaginationViewModel

<table class="table">
    <tr>
        <th class="d-flex">
            <div class="form-check">
                <input class="form-check-input outer_checkbox" id="menu-main-checkbox" type="checkbox" value=""
                    id="flexCheckIndeterminate">
            </div> <span>Name</span>
        </th>
        <th>ItemType</th>
        <th>Rate</th>
        <th>Quantity</th>
        <th>Available</th>
        @if(ViewBag.CanMenuAddEdit || ViewBag.CanMenuDelete)
        {
            <th>Action</th>
        }
        
    </tr>


    @foreach (var i in Model.Items)
    {
        <tr>
            <td>
                <div class="d-flex justify-content-start gap-2 align-items-center">
                    <div class="form-check">
                        <input class="form-check-input inner_checkbox_menuitem" type="checkbox" value="@i.ItemId"
                            id="flexCheckIndeterminate">
                    </div>

                    <img src="@(i.Image != null && !string.IsNullOrEmpty(i.Image) ? i.Image : "/images/dining-menu.png")"
                        class="small-img">
                    <span>@i.ItemName</span>
                </div>
            </td> 
            <td>
                @if (i.Type == "Veg")
                {
                    <img src="~/images/icons/veg-icon.svg" alt="" class="small-img ">
                }
                else
                {

                    <img src="~/images/icons/non-veg-icon.svg" alt="" class="small-img ">
                }
            </td> 
            <td>@i.Rate</td>
            <td>@i.Quantity</td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input toggle-btn disabled-toggle" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        @(i.Isavailable ? "checked" : "") >
                </div>
            </td>
            <td>
                <div class="d-flex justify-content-start gap-5">
                    @if (ViewBag.CanMenuAddEdit)
                    {
                        <img src="~/images/icons/pen.svg" alt="" data-bs-toggle="modal" data-bs-target="#editmenuitem"
                        item-obj='@Html.Raw(Json.Serialize(i))' category-id= "@Model.CategoryId" onclick="setedititemdata(this)">
                    }
                    @if(ViewBag.CanMenuDelete)
                    {
                        <img src="~/images/icons/trash.svg" data-bs-toggle="modal" data-bs-target="#deleteitemmodal" alt="" onclick="setDeleteItemId(this)" item-id="@i.ItemId" >
                    }
                    
                    
                </div>

            </td>
        </tr>

    }


</table>
<div class="pagination-section d-flex justify-content-end align-items-center gap-2 overflow-auto w-100">
    <div class="d-flex justify-content-md-end align-items-center gap-2 w-100">
        <div>Items per page: </div>
        <select class="form-select" style="width:68px ;" aria-label="Default select example"
            id="pageSizeDropdownforMenuitems" onchange="MenuitemsPaginationAjax(this.value,1,@Model.CategoryId)">

            <option value=2 selected="@(Model.Page.PageSize == 2 ? true : false)">2</option>
            <option value=5 selected="@(Model.Page.PageSize == 5 ? true : false)">5</option>
            <option value=10 selected="@(Model.Page.PageSize == 10 ? true : false)">10</option>
        </select>
        <div>Showing @Model.Page.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecord</div>
        @* @if (Model.Page.CurrentPage > 1) *@

        <div onclick="MenuitemsPaginationAjax(@Model.Page.PageSize,@Model.Page.CurrentPage-1,@Model.CategoryId)"
            class="text-black @( Model.Page.CurrentPage > 1? " " : "disabled-button")" style="text-decoration: none;">
            <div class="border p-2 px-3"> &lt; </div>
        </div>

        @* @if (Model.Page.CurrentPage < Model.Page.TotalPages) *@

        <div onclick="MenuitemsPaginationAjax(@Model.Page.PageSize, @Model.Page.CurrentPage+1,@Model.CategoryId)"
            class="text-black  @(Model.Page.CurrentPage < Model.Page.TotalPages ? " " : "disabled-button")"
            style="text-decoration: none;">
            <div class="border p-2 px-3">&gt;</div>
        </div>

    </div>
</div>



