@model DAL.ViewModels.ModifierListViewModel



 @* category list  *@
@foreach (var c in Model.ModifierGroups)
{
        <div
            class="category-option d-flex justify-content-between align-items-center gap-2 @(Model.SelectedModifierGroup == c.ModifiergroupId ? "category-active-option" : "")" id="category_option" modifiergroup-id="@c.ModifiergroupId" >
            <div class="d-flex gap-2" style="cursor: pointer;" onclick="loadmodifiers(this)" modifiergroup-id="@c.ModifiergroupId">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="" class="category-option-img ">
                <div>@c.Name</div>
            </div>
       
            <div class="d-flex justify-content-between gap-3 d-none" id="categoryoption_actionbtn">
          
                    <img src="~/images/icons/pen.svg" alt="" data-bs-toggle="modal" data-bs-target="#editcategory" onclick="setEditData(this)" data-id="@c.ModifiergroupId" data-name="@c.Name" data-description="@c.Description" obj="@c">
            
                <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                    data-bs-target="#deletecategorymodal" onclick="setDeleteUserId(this)" data-id="@c.ModifiergroupId"
                    alt="">
            </div>
        </div>
}
                  

       