@model DAL.ViewModels.ModifierListViewModel


 @* Modifier list  *@ 
@foreach (var c in Model.ModifierGroups)  
{
        <div
            class="modifier-option d-flex justify-content-between align-items-center gap-2 @(Model.SelectedModifierGroup == c.ModifiergroupId ? "category-active-option" : "")" id="category_option" modifiergroup-id="@c.ModifiergroupId" >
            <div class="d-flex gap-2" style="cursor: pointer;" onclick="loadmodifiers(this)" modifiergroup-id="@c.ModifiergroupId">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="" class="category-option-img ">
                <div>@c.Name</div>
            </div>
       
            <div class="d-flex justify-content-between gap-3 d-none" id="categoryoption_actionbtn">
          
                <img src="~/images/icons/pen.svg" alt="" data-bs-toggle="modal" data-bs-target="#editmodifiergroupmodal" onclick="GetModifierItemListByGroupid(this)" data-id="@c.ModifiergroupId" data-name="@c.Name" data-description="@c.Description" data-obj='@Html.Raw(Json.Serialize(c))'>
            
                <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                    data-bs-target="#deleteModifierGroupmodal" onclick="setDeleteModifierGroupId(this)" data-id="@c.ModifiergroupId"
                    alt="">
            </div>
        </div>
}



<script>
    document.addEventListener("DOMContentLoaded", function () {
    attachHoverEffect(); // Call the function when the page loads
    });

// Function to handle hover effect
function attachHoverEffect() {
    document.querySelectorAll(".modifier-option").forEach(opt => {
        opt.addEventListener("mouseover", function () {
            console.log("Mouse Entered");
            let actionbtn = opt.querySelector("#categoryoption_actionbtn");
            if (actionbtn) {
                actionbtn.classList.add("d-block");
                actionbtn.classList.remove("d-none");
            }
        });

        opt.addEventListener("mouseleave", function () {
            let actionbtn = opt.querySelector("#categoryoption_actionbtn");
            if (actionbtn) {
                actionbtn.classList.remove("d-block");
                actionbtn.classList.add("d-none");
            }
        });
    });
}

// If the partial view is loaded dynamically, reattach events
$(document).on("ajaxComplete", function () {
    attachHoverEffect();
});

</script>
                  

       