@* @model IEnumerable<DAL.ViewModels.CategoryNameViewModel> *@
@model DAL.ViewModels.MenuViewModel;
@using DAL.ViewModels

@{
    ViewData["Category"] = Model.SelectedCategory;

   @* var categorymodel = new CategoryListModel
   {
        Catagories = Model.Categories,
        SelectedCategory = Model.SelectedCategory

   }; *@
}

<div class="Menu-container p-3">

    <h3 class="custom-blue">Menu</h3> 


    <div class="switching-tabs-section d-flex justify-content-start gap-4 bg-white px-3 nav
                " role="tablist">

        <div class="d-flex justify-content-center gap-2 nav-link active p-3" id="nav-home-tab" data-bs-toggle="tab"
            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
            <div><img src="~/images/icons/list-check.svg" alt="" class="small-img"></div>
            <div>Items</div>
        </div>
        <div class="d-flex justify-content-center gap-2 nav-link p-3" id="nav-profile-tab" data-bs-toggle="tab"
            data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
            <div><img src="~/images/sidebar icons/dashboard.png" alt="" class="small-img"></div>
  
            <div class="">Modifiers</div>
        </div>


    </div>
 
    @* category list for samll screen *@

    <div class="CategoryForSmallScreen d-lg-none bg-white mt-2 p-2 ">

       
        <div class="d-flex justify-content-between align-items-center p-1">
            <h5 class="custom-blue">Category</h5>
            <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">+
            </div>
        </div>
        <div class="d-flex flex-column p-2 gap-4 fw-medium overflow-auto h-100">
             @foreach(var c in Model.Categories){
            <div class="category-option-smallscreen d-flex justify-content-start align-items-center gap-2 ">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="" class="category-option-img">
                <div>@c.Name</div>
            </div>
        }
            
        </div>
    </div>

 
    <div class="tab-content bg-white mt-2 bg-white position-relative " id="nav-tabContent">

        @* ----first tab------- *@

        <div class="tab-pane fade show active w-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
            tabindex="0" style="max-height: 600px;overflow-y: scroll;">
            <div class="d-flex w-100">
                <div class=" category-menu border-0 pt-3 d-none d-lg-block" id="category-menu">
                    <div class="d-flex justify-content-between align-items-center p-1">
                        <h5 class="custom-blue">Category</h5>
                        <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;"
                            onclick="openAddEditCategoryModal()">+
                        </div>
                    </div>
                    <div class="d-flex flex-column p-2 mt-5 gap-4 fw-medium overflow-auto h-75" id="category-list">

                        @* category list  *@

                        @* -------partial view here of category list-------- *@

                    </div>

                </div>
                <div class="d-flex flex-column flex-grow-1 pt-3 px-3 w-100 ">
                    <div class="d-flex justify-content-between">
                        <h5 class="custom-blue">Items</h5>
                    </div>
                    <div
                        class="search-delete-section d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="search-section d-flex gap-2 ">
                            <div class="position-relative" style="width: 180px;">
                                <input type="text" class="p-2 w-100" placeholder="Search" id="menuitem-search-field">
                                <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                            </div>
                            @if(ViewBag.CanMenuDelete)
                            {
                                <div class="d-flex justify-content-center align-items-center w-auto border rounded px-3 " style="cursor: pointer;"  onclick="openMassDeleteModalForMenuItem()">
                                <img src="~/images/icons/trash.svg" alt="" srcset="" style="width: 20px;"
                                    class="small-img" >
                            </div>
                            }
                            
                            @if(ViewBag.CanMenuAddEdit)
                            {
                                <button type="button" class=" custom-btn-bg text-white p-2 border d-none d-md-block"  onclick="openAddEditMenuItemModal()"><span
                                    class="fs-5 fw-semibold" >+</span> New Item</button> 
                            <button type="button"
                                class=" custom-btn-bg text-white px-3 border fs-5 fw-bold d-md-none">+</button>
                            }
                            
                        </div>
                    </div>
                    <div class="table-section bg-white table-responsive mt-5 ms-2 me-2" id="menuTableContainer">
                       
                    </div> 
                   
                </div>

            </div>
 
        </div>
        @* -----------second tab------------ *@
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0" style="max-height: 600px; overflow-y: scroll;">
                <div class="d-flex w-100">
                <div class=" category-menu border-0 pt-3 d-none d-lg-block">
                    <div class="d-flex justify-content-between align-items-center p-1">
                        <h5 class="custom-blue">Modifier Groups</h5>
                        <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;"
                            data-bs-toggle="modal" data-bs-target="#addmodifiergroupmodal" onclick="ClearListOfModifierItems()">+
                        </div>
                    </div>
                    <div class="d-flex flex-column p-2 mt-5 gap-4 fw-medium overflow-auto h-75" id="modifier-list">

                        @* partial view of modifier list *@

                    </div>

                </div>
                <div class="d-flex flex-column flex-grow-1 pt-3 px-3 w-100 ">
                    <div class="d-flex justify-content-between">
                        <h5 class="custom-blue">Items</h5>
                    </div>
                    <div
                        class="search-delete-section d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="search-section d-flex gap-2 ">
                            <div class="position-relative" style="width: 180px;">
                                <input type="text" class="p-2 w-100" placeholder="Search" id="modifieritems-search-field">
                                <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                            </div>
                            @if (ViewBag.CanMenuDelete)
                            {
                                <div class="d-flex justify-content-center align-items-center w-auto border rounded px-3 " style="cursor: pointer;" onclick="openMassDeleteModalForModifierItem()">
                                <img src="~/images/icons/trash.svg" alt="" srcset="" style="width: 20px;"
                                    class="small-img" >
                            </div>
                            }
                            @if(ViewBag.CanMenuAddEdit)
                            {
                                <button type="button" class=" custom-btn-bg text-white p-2 border d-none d-md-block" data-bs-toggle="modal" data-bs-target="#addmodifieritemmodal"><span
                                    class="fs-5 fw-semibold" >+</span> New
                                Item</button>
                            <button type="button"
                                class=" custom-btn-bg text-white px-3 border fs-5 fw-bold d-md-none">+</button> 
                            }
                            
                        </div>
                    </div>
                    <div class="table-section bg-white table-responsive mt-5 ms-2 me-2" id="modifieritemstablecontainer">
                       
                    </div> 
                   
                </div>

            </div>
            </div>
    </div>


    <!-- add Edit category modal --> 
    <div class="modal fade" id="categoryAddEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
            @* <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="categoryForm" method="post">
                    <div class="modal-body">
                        <div class="d-flex flex-column">

                            <div class="mb-3">

                                <input type="text" class="form-control p-3" id="addCategoryName" name="Category.Name"
                                    placeholder="Name">
                                <span class="text-danger" asp-validation-for="Category.Name"></span>
                            </div>
                            <div class="mb-3">

                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Description" name="Category.Description"></textarea>
                                 <span class="text-danger" asp-validation-for="Category.Description"></span>
                            </div>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>
                </form>
            </div> *@
            <div class="modal-content" id="categoryAddEditFormContent">

                @* Partial View Of Add Edit Category form *@
            </div>
           
            
        </div>
    </div>

     <!-- add modifierGroup modal -->
    <div class="modal fade" id="addmodifiergroupmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Modifier Group</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="addModifierGroupForm">
                    <div class="modal-body">
                        <div class="d-flex flex-column"> 

                            <div class="mb-3">
                                <input type="text" class="form-control p-3" asp-for="ModifierGroup.Name"
                                    placeholder="Name" id="addmodifiergroupname">
                                 <span class="text-danger" asp-validation-for="ModifierGroup.Name"></span>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" rows="3"
                                    placeholder="Description"asp-for="ModifierGroup.Description"></textarea>
                                <span class="text-danger" asp-validation-for="ModifierGroup.Description"></span>
                            </div>

                            <div class="custom-blue mb-2 fs-sm cursor-pointer" id="addexistingmodifierbtn"> 
                                Add Existing Modifiers +
                            </div>

                            <div class="d-flex gap-2 flex-wrap" id="selectedModifieritemcontainer">
                            
                            @* ---- selected modifier name here ---- *@
                           
                            </div>
                           
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>

                    

                </form>
            </div>
        </div>
    </div>

     <!-- Edit modifierGroup modal -->
    <div class="modal fade" id="editmodifiergroupmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit ModifierGroup</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  method="post" id="editmodifierForm">
                    <div class="modal-body">
                        <div class="d-flex flex-column"> 
                                 <input type="text" class="form-control p-3" asp-for="ModifierGroup.ModifierId"
                                    id="editmodifiergroupid" hidden>
                            <div class="mb-3">
                                <input type="text" class="form-control p-3" asp-for="ModifierGroup.Name"
                                    placeholder="Name" id="editmodifiergroupname">
                                <span class="text-danger" asp-validation-for="ModifierGroup.Name"></span>
                            </div>
                            <div class="mb-3">

                                <textarea class="form-control" rows="3"
                                    placeholder="Description" asp-for="ModifierGroup.Description" id="editmodifiergroupdescription"></textarea>
                                <span class="text-danger" asp-validation-for="ModifierGroup.Description"></span>
                            </div>

                            <div class="custom-blue mb-2 fs-sm cursor-pointer" id="addexistingmodifierbtnforedit">
                                Add Existing Modifiers +
                            </div>

                            <div class="d-flex gap-2 flex-wrap" id="selectedModifieritemcontainerforedit">
                            
                            @* ---- selected and existing modifier name here ---- *@
                           
                            </div>
                           
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="ClearSection()">Cancel</button>
                         </div>
                    </div>

                    

                </form>
            </div>
        </div>
    </div>
@* pwd123 *@
    <!-- show modifieritemslist modal for edit modifier group modal-->
    <div class="modal fade" id="modifieritemslist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-secondary" id="staticBackdropLabel">Select Existing Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="position-relative m-2" style="width: 280px;">
                    <input type="text" class="p-2 w-100" placeholder="Search" id="modifieritemsmodal-search-field">
                    <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                </div>
                <div class="table-section bg-white table-responsive mt-5 ms-2 me-2" id="modifieritemstablecontainerofmodal">
                       
                </div> 
                <div class="d-flex justify-content-end gap-2 p-2">
                    <button  class="btn custom-btn-bg text-white fw-medium" onclick="handleAddButtonClick()">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>  
        </div>
    </div>
    <!-- show modifieritemslist modal for add modifier group modal--> 
    <div class="modal fade" id="modifieritemslistforaddgroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-secondary" id="staticBackdropLabel">Select Existing Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="position-relative m-2" style="width: 280px;">
                    <input type="text" class="p-2 w-100" placeholder="Search" id="modifieritemsforaddmodal-search-field">
                    <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                </div>
                <div class="table-section bg-white table-responsive mt-5 ms-2 me-2" id="modifieritemstablecontainerofaddmodal">
                       
                </div> 
                <div class="d-flex justify-content-end gap-2 p-2">
                    <button  class="btn custom-btn-bg text-white fw-medium" onclick="handleAddButtonClickForAdd()">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>  
        </div>
    </div>

    <!-- show modifieritemslist modal for add modifier -->
    <div class="modal fade" id="modifieritemslistforadd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-secondary" id="staticBackdropLabel">Select Existing Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="position-relative m-2" style="width: 280px;">
                    <input type="text" class="p-2 w-100" placeholder="Search" id="modifieritemsmodal-search-field">
                    <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                </div>
                <div class="table-section bg-white table-responsive mt-5 ms-2 me-2" id="modifieritemstablecontainerofmodal">
                       
                </div> 
                <div class="d-flex justify-content-end gap-2 p-2">
                    <button  class="btn custom-btn-bg text-white fw-medium" onclick="handleAddButtonClickForAdd()">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
                
        </div>
    </div>

      @* ---------------- Delete category modal body------------------- *@

    <div class="modal" tabindex="-1" id="deletecategorymodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Category?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteCategoryBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

      @* ---------------- Delete Modifier Group modal body------------------- *@

    <div class="modal" tabindex="-1" id="deleteModifierGroupmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteModifierGroupBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

      @* ---------------- Delete Modifier Item modal body------------------- *@

    <div class="modal" tabindex="-1" id="deleteModifieritemmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteModifierItemBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

 @* AddEdit Menu Item modal *@

     <div class="modal fade " id="AddEditMenuItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-75 "  style="max-width: 100%">
            <div class="modal-content w-100" id="AddEditMenuItemContent">
                
            </div>
        </div> 
    </div>
 @* Add Menu Item modal *@

     <div class="modal fade " id="addmenuitem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-75 "  style="max-width: 100%">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Menu Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
                </div>
                <form id="addItemForm" enctype="multipart/form-data" >
                    <div class="modal-body">
                         <div class="add-menu-item row">
                                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-floating col">
                                    <div class="form-floating col">
                                         <input type="hidden" class="form-select" id="Select-Category-option-hidden" name="Menuitem.CategoryId" >
                                        <select  class="form-select" id="Select-Category-option" disabled >
                                            @* <option selected>Select Categories</option> *@
                                            @* @foreach(var c in Model.Categories){
                                                if(c.Id == Model.SelectedCategory){
                                                    <option value=@c.Id selected>@c.Name</option>
                                                }else{

                                                <option value=@c.Id>@c.Name</option>
                                                }
                                            } *@
                                        </select>
                                        <label for="floatingSelect">Categories</label>
                                         <span class="text-danger" asp-validation-for="Menuitem.CategoryId"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="form-floating col-6">
                                    <div class="form-floating col">
                                        <select  class="form-select" name="Menuitem.Type" id="ItemTypeForAdd">
                                            <option selected value="" >Select a Type</option>
                                            <option value="Veg">Veg</option>
                                            <option value="Non-Veg">Non-Veg</option>
                                        </select>
                                        <label for="floatingSelect">Item Type</label>
                                        <span class="text-danger" asp-validation-for="Menuitem.Type"></span>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="ItemRateForAdd" value="" name="Menuitem.Rate" placeholder="Rate">
                                        <label for="ItemRateForAdd">Rate</label>
                                        <span class="text-danger" asp-validation-for="Menuitem.Rate"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch" name="Menuitem.Isavailable" value="true">
                                        <span class="ms-3">Available</span>
                                        <span class="text-danger" asp-validation-for="Menuitem.Isavailable"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch" name="Menuitem.DefaultTax" value="true">
                                        <span class="ms-3">Default Tax</span>
                                        <span class="text-danger" asp-validation-for="Menuitem.DefaultTax"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row position-relative ">
                                <div class="col">
                              
                                         <div class="form-floating">
                                        <input type="text" class="form-control"   name="Menuitem.ItemName" placeholder="Name">
                                        <label >Name</label>
                           
                                    </div>
                                </div>
                                <span class="text-danger position-absolute" style="bottom: -25px;" asp-validation-for="Menuitem.ItemName"></span>
                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="ItemQuantityForAdd" value="" name="Menuitem.Quantity" placeholder="Quantity">
                                        <label for="ItemQuantityForAdd">Quantity</label>
                                        <span class="text-danger" asp-validation-for="Menuitem.Quantity"></span>
                                    </div>
                                </div>
                                <div class="form-floating col-6">
                                    <div class="form-floating col">
                                        <select  class="form-select" name="Menuitem.Unit" id="ItemUnitForAdd">
                                            <option selected value="">Select a Unit</option>

                                            <option value="Pcs">Piece</option>
                                            <option value="Kg">Kilogram</option>
                                            <option value="In">Inches</option>
                                            <option value="Ltr">Liter</option>
                                        </select>
                                        <label for="floatingSelect">Unit</label>
                                        <span class="text-danger" asp-validation-for="Menuitem.Unit"></span>
                                    </div>
                                </div>



                            </div>

                            <div class="row mt-4">
                                <div class="col-6 form-floating">
                            
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="TaxPercentageForAdd" name="Menuitem.TaxPercentage" placeholder="Tax Percentage">
                                        <label for="TaxPercentageForAdd">Tax Percentage</label>
                                        <span class="text-danger" asp-validation-for="Menuitem.TaxPercentage"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <input class="form-control form-control p-3" type="text" placeholder="Short Code" name="Menuitem.ShortCode">
                                   
                                    <span class="text-danger" asp-validation-for="Menuitem.ShortCode"></span>

                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="form-floating">
                             <textarea type="text" class="form-control" style="height: 100px;" id="floatingTextarea" name="Menuitem.Description" placeholder="Description"></textarea>
                            <label for="floatingTextarea">Description</label>
                            <span class="text-danger" asp-validation-for="Menuitem.Description"></span>
                        </div>


                       
                    </div>

                    <div class="row mt-4">
                      
                        <div class="">
                                <div class="col-12">
                                    <div class="position-relative border" style="height: 120px;">
                                        <input type="file" id="myFile" 
                                            class="inputfiletag bg-primary position-absolute" name="Menuitem.Image"  onchange="updateFileName('myFile','fileNameSpan','imageFileValidation')">
                                        <button type="button"
                                            class="btn  h-100 w-100 d-flex gap-1 justify-content-center align-items-center">
                                            <div><i class="bi bi-cloud-arrow-up fw-bold fs-3"></i></div>
                                            <div><span id="fileNameSpan">Drag and Drop or browse
                                                    file</span></div>
                                        </button>
                                        <div class="text-danger" id="imageFileValidation"></div>
                                    </div>
                                </div>
                            </div>
                    </div> 
                                </div>
        
                                 <div class="col-4" style="background-color: #fff5d7;">
                                <div class="form col-12">
                                    <div class="row mt-2">
                                        <div class="form col multiselect">
                                        <select  class="form-select selectBox" id="modifierGroupSelect">
                                                <option selected>Select Modifier Group</option>

                                                @* showing options for all modifiergroup name *@
                                                @foreach(var m in @Model.ModifierGroups)
                                                {
                                                    <option value=@m.ModifiergroupId>@m.Name</option>
                                                }
                                        </select>

                                        <div id="modifieritemspartialview" class="d-flex flex-column rounded d-none p-3 overflow-auto" style="height: 400px;">

                                         </div>
 
                                    </div>
                                    </div> 

                                </div>
                                 </div>
                         </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                        <button type="submit" class="btn custom-btn-bg text-white fw-medium" id="editmodalbtn">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                       
                </form>
            </div>
        </div>
    </div>

@* Edit Menu Item Modal *@
       
    <div class="modal fade " id="editmenuitem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Menu Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editItemForm" enctype="multipart/form-data"  method="post" >
                    <div class="modal-body">
                        <div class="add-menu-item row">

                            <input name="Menuitem.Id" id ="itemId"  hidden>

                    <div class="col-8">

                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-floating col">
                                    <div class="form-floating col">
                                        <select  class="form-select" id="CategoryForEdit" name="Menuitem.CategoryId">
                                            @* <option selected>Select Categories</option> *@
                                            @* @foreach(var c in Model.Categories){
                                                if(c.Id == Model.SelectedCategory){
                                                    <option value=@c.Id selected>@c.Name</option>
                                                }else{

                                                <option value=@c.Id>@c.Name</option>
                                                }
                                            } *@
                                        </select>
                                        <label for="floatingSelect">Categories</label>
                                        <span class="text-danger" asp-validation-for="Menuitem.CategoryId"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="form-floating col-6">
                                    <div class="form-floating col"> 
                                        <select  class="form-select" name="Menuitem.Type" id="itemtypeforedit">
                                            <option selected value="">Select a Type</option>
                                            <option value="Veg">Veg</option>
                                            <option value="Non-Veg">Non-Veg</option>
                                        </select>
                                        <label for="floatingSelect">Item Type</label>
                                         <span class="text-danger" asp-validation-for="Menuitem.Type"></span>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="ItemRateForEdit" value="0" name="Menuitem.Rate" placeholder="Rate">
                                        <label for="floatingInput">Rate</label>
                                         <span class="text-danger" asp-validation-for="Menuitem.Rate"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch" name="Menuitem.Isavailable" id="Isavailableforedit" value="true">
                                        <span class="ms-3">Available</span>
                                         <span class="text-danger" asp-validation-for="Menuitem.Isavailable"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch" name="Menuitem.DefaultTax" id="DefaultTaxforedit" value="true">
                                        <span class="ms-3">Default Tax</span>
                                         <span class="text-danger" asp-validation-for="Menuitem.DefaultTax"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row position-relative ">
                                <div class="col">
                                    <div class="form-floating">
                                    <input class="form-control form-control p-3" type="text"  name="Menuitem.ItemName" id="itemnameforedit" placeholder="Name">
                                    <label for="floatingInput">Name</label>
                                    <span class="text-danger position-absolute" style="bottom: -25px;" asp-validation-for="Menuitem.ItemName"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control"  value="0" name="Menuitem.Quantity" id="ItemQuantityForEdit" placeholder="Quantity">
                                        <label for="floatingInput">Quantity</label>
                                         <span class="text-danger" asp-validation-for="Menuitem.Quantity"></span>
                                    </div>
                                </div>
                                <div class="form-floating col-6">
                                    <div class="form-floating col">
                                        <select  class="form-select" name="Menuitem.Unit" id ="ItemUnitForEdit">
                                            <option selected value="">Select a Unit</option>
                                            <option value="Pcs">Piece</option>
                                            <option value="Kg">Kilogram</option>
                                            <option value="In">Inches</option>
                                            <option value="Ltr">Liter</option>
                                        </select>
                                        <label for="floatingSelect">Unit</label>
                                         <span class="text-danger" asp-validation-for="Menuitem.Unit"></span>
                                    </div>
                                </div>



                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                   
                                     <div class="form-floating">
                           <input class="form-control form-control p-3" type="text" placeholder="Tax Percentage" name="Menuitem.TaxPercentage" id="itemTaxPercentageForEdit">
                            <label for="floatingTextarea">Tax Percentage</label>
                            
                          </div>
                                </div>
                                <div class="col-6">
                                    <input class="form-control form-control p-3" type="text" placeholder="Short Code" name="Menuitem.ShortCode" id="ShortCodeforedit">
                                     <span class="text-danger" asp-validation-for="Menuitem.ShortCode"></span>
                                     
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="form-floating">
                            <textarea class="form-control"  style="height: 100px" name="Menuitem.Description" id="Descriptionforedit"></textarea>
                            <label for="floatingTextarea">Description</label>
                             <span class="text-danger" asp-validation-for="Menuitem.Description"></span>
                          </div>
                    </div>

                    <div class="row mt-4">
                         <div class="">
                                <div class="col-12">
                                    <div class="position-relative border" style="height: 120px;">
                                        <input type="file" id="myFileEdit" 
                                            class="inputfiletag bg-primary position-absolute" name="Menuitem.Image"  onchange="updateFileName('myFileEdit','fileNameSpanForEdit','imageFileValidationForEdit')">
                                        <button type="button"
                                            class="btn  h-100 w-100 d-flex gap-1 justify-content-center align-items-center">
                                            <div><i class="bi bi-cloud-arrow-up fw-bold fs-3"></i></div>
                                            <div><span id="fileNameSpanForEdit">Drag and Drop or browse
                                                    file</span></div>
                                        </button>
                                        <div class="text-danger" id="imageFileValidationForEdit"></div>
                                    </div>
                                </div>
                            </div>
                    </div> 
                    </div>
        
                    <div class="col-4" style="background-color: #fff5d7;">
                    <div class="form col-12">
                                    <div class="row mt-2">
                                        <div class="form col multiselect">
                                        <select  class="form-select selectBox" id="modifierGroupSelectforedit">
                                                <option selected>Select Modifier Group</option>

                                                @* showing options for all modifiergroup name *@
                                                @foreach(var m in @Model.ModifierGroups)
                                                {
                                                    <option value=@m.ModifiergroupId>@m.Name</option>
                                                }
                                        </select>
                                     
                                        
                                        <div id="modifieritemspartialviewforedit" class="d-flex flex-column rounded d-none p-3 overflow-auto" style="height: 400px;">
                                           
                                         </div>
                                    </div>
                                    </div>

                    </div>
                    </div>
                         </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                        <button type="submit" class="btn custom-btn-bg text-white fw-medium" id="editmodalbtn">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                       
                </form>
            </div>
        </div>
    </div>


      @* ---------------- Delete item modal body------------------- *@

    <div class="modal" tabindex="-1" id="deleteitemmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">
                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete This Item?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteitemBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
      @* ---------------- Delete mass menu item modal body------------------- *@

    <div class="modal" tabindex="-1" id="deletemassmenuitemmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">
                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete This Item?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deletemassmenuitemBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
      @* ---------------- Delete item modal body fro mass delete------------------- *@

    <div class="modal" tabindex="-1" id="deletemassitemmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">
                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete This Item?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deletemassitemBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    @* -------------------------------------------------------------- *@
</div> 

@* Add Modifier Item Modal *@

<div class="modal fade " id="addmodifieritemmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-75 "  style="max-width: 100%">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Modifier Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
              
                <form id="AddModifierItemForm" enctype="multipart/form-data"  >
                    <div class="modal-body">

                         
                        <div class="row">
                           
                            <div class="col-6">
                                @* <label>Select Modifier Group</label> *@
                                <div class="position-relative">
                                    <!-- Display Selected Names -->
                                    <div class="form-control p-3"  id="modifierGroupSelectBox" style="cursor: pointer;">
                                        Select Modifier Group
                                    </div>
                                     <p id="selectmodifiergroupvalidationforadd" class="text-danger d-none">please  select Modifier Group</p>
                          
                                  

                                    <!-- Floating Checkbox List -->
                                    <div id="modifierGroupDropdown" class="position-absolute bg-white border rounded p-2 shadow" 
                                        style="display: none; z-index: 1000; width: 100%;">
                                       @* Dropdown list populate here *@
                                    </div>
                                    @* <span class="text-danger" asp-validation-for="ModifierItem.ModifierGroupid"></span> *@
                                </div>
                            </div>



                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="addmodifieritemname" placeholder="Name" name="ModifierItem.ModifierName">
                                    <label for="addmodifieritemname">Name*</label>
                                    @* <span class="text-danger" asp-validation-for="ModifierItem.ModifierName"></span> *@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"> 
                                <div class="form-floating">
                                        <input type="number" class="form-control" id="addmodifieritemrate" placeholder="Rate" name="ModifierItem.Rate">
                                        <label for="addmodifieritemrate">Rate</label>
                                        @* <span class="text-danger" asp-validation-for="ModifierItem.Rate"></span> *@
                                    </div>
                                </div>
                            <div class="col">
                                <div class="form-floating">
                                        <input type="number" class="form-control" id="addmodifieritemquantity" placeholder="Quantity" name="ModifierItem.Quantity">
                                        <label for="addmodifieritemquantity">Quantity</label>
                                        @* <span class="text-danger" asp-validation-for="ModifierItem.Quantity"></span> *@
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating col">
                                        <select  class="form-select" name="ModifierItem.Unit" id="addmodifieritemunit">
                                            <option selected value="">Select a Unit</option>

                                            <option value="Pcs">Piece</option>
                                            <option value="Kg">Kilogram</option>
                                            <option value="In">Inches</option>
                                            <option value="Ltr">Liter</option>
                                        </select>
                                        <label for="floatingSelect">Unit</label>
                                        @* <span class="text-danger" asp-validation-for="ModifierItem.Unit"></span> *@
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mt-3">

                                <textarea class="form-control"  rows="3"
                                    placeholder="Description" name="Description"></textarea>
                            </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end gap-2 p-2">
                        <button type="submit" class="btn custom-btn-bg text-white fw-medium" id="addmodifieritemmodalbtn">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                       
                </form>
            </div>
        </div>
    </div>

@* Edit Modifier Item Modal *@

<div class="modal fade " id="editmodifieritemmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-75 "  style="max-width: 100%">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Modifier Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="EditModifierItemForm" enctype="multipart/form-data"  >
                    <div class="modal-body">
                        <input type="text" class="form-control" id="ModifierId" asp-for="ModifierItem.ModifierId" hidden>
                        <div class="row">

                            <div class="col-6">
                                @* <label>Select Modifier Group</label> *@
                                <div class="position-relative">
                                    <!-- Display Selected Names -->
                                    <div class="form-control p-3"  id="modifierGroupSelectBoxForEdit" style="cursor: pointer;">
                                        Select Modifier Group
                                    </div>
                                    <p class="text-danger d-none" id="selectmodifiergroupvalidationforedit">Please select Modifier Group</p>

                                    <!-- Floating Checkbox List -->
                                    <div id="modifierGroupDropdownForEdit" class="position-absolute bg-white border rounded p-2 shadow" 
                                        style="display: none; z-index: 1000; width: 100%;">
                                       @* load modifier group list *@
                                    </div>
                                    <span class="text-danger" asp-validation-for="ModifierItem.ModifierGroupid"></span>
                                </div>
                            </div>


                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="ModifierName" asp-for="ModifierItem.ModifierName">
                                    <label for="ModifierName">Name*</label>
                                    <span class="text-danger" asp-validation-for="ModifierItem.ModifierName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"> 
                                <div class="form-floating">
                                        <input type="number" class="form-control" id="Rate"  asp-for="ModifierItem.Rate">
                                        <label for="floatingInput">Rate</label>
                                        <span class="text-danger" asp-validation-for="ModifierItem.Rate"></span>
                                    </div>
                                </div>
                            <div class="col">
                                <div class="form-floating">
                                        <input type="number" class="form-control" id="Quantity" asp-for="ModifierItem.Quantity">
                                        <label for="floatingInput">Quantity</label>
                                        <span class="text-danger" asp-validation-for="ModifierItem.Quantity"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating col">
                                        <select  class="form-select" asp-for="ModifierItem.Unit" id="Unit">
                                            <option selected value="">Select a Unit</option>

                                            <option value="Pcs">Piece</option>
                                            <option value="Kg">Kilogram</option>
                                            <option value="In">Inches</option>
                                            <option value="Ltr">Liter</option>
                                        </select>
                                        <label for="floatingSelect">Unit</label>
                                        <span class="text-danger" asp-validation-for="ModifierItem.Unit"></span>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mt-3">

                                <textarea class="form-control" id="Description" rows="3"
                                    placeholder="Description" asp-for="ModifierItem.Description"></textarea>
                            </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end gap-2 p-2">
                        <button type="submit" class="btn custom-btn-bg text-white fw-medium" id="addmodifieritemmodalbtn">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                       
                </form>
            </div>
        </div>
    </div>


@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script> *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
@* <script src="https://cdn.jsdelivr.net/jquery.validation/1.19.5/additional-methods.min.js"></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/MenuItem.js"></script>
<script src="~/js/MenuCategory.js"></script>
<script src="~/js/ModifierGroup.js"></script>
<script src="~/js/ModifierItem.js"></script>

<script>


    function setEditData(element){
    

        var userId = element.getAttribute("data-id");
        var name =  element.getAttribute("data-name")
        var description = element.getAttribute("data-description");
        var editBtn = document.getElementById("editmodalbtn");
        document.getElementById("editid").value=userId;
        document.getElementById("editformname").value=name;
        document.getElementById("editformdescription").value=description;
        @* editBtn.href = '@Url.Action("Menu", "Menu")' + '?id=' + userId; *@
    }

    function setDeleteUserId(element) {
        var Id = element.getAttribute("data-id");
        var deleteBtn = document.getElementById("deleteCategoryBtn");
        deleteBtn.href = '@Url.Action("DeleteCategory", "Menu")' + '?id=' + Id;
    }

    document.addEventListener("DOMContentLoaded", () => {


    var categoryoption = document.querySelectorAll(".category-option");

    categoryoption.forEach(opt => {
        opt.addEventListener("mouseover", function() {
            console.log("mouseleave enter")
            var actionbtn = opt.querySelector("#categoryoption_actionbtn");
            
            actionbtn.classList.remove("d-none");
            actionbtn.classList.add("d-block");
        });
        opt.addEventListener("mouseleave", function() {
            var actionbtn = opt.querySelector("#categoryoption_actionbtn");
            actionbtn.classList.remove("d-block");
            actionbtn.classList.add("d-none");
        });
    });



        const categories = document.querySelectorAll(".category-option");
        const categoriesforsmall = document.querySelectorAll(".category-option-smallscreen");
    

        if (categories.length > 0) {
            // Select the first category by default
            @* categories[0].classList.add("category-active-option");
            categoriesforsmall[0].classList.add("category-active-option"); *@
        }

        categories.forEach(category => {
            category.addEventListener("click", () => {
                // Remove the active class from all categories
                categories.forEach(cat => cat.classList.remove("category-active-option"));

                // Add active class to the clicked category
                category.classList.add("category-active-option");
            });
        });
        categoriesforsmall.forEach(category => {
            category.addEventListener("click", () => {
                // Remove the active class from all categories
                categoriesforsmall.forEach(cat => cat.classList.remove("category-active-option"));

                // Add active class to the clicked category
                category.classList.add("category-active-option");
            });
        });
    });

    let currentPage = 1;

    @* First Time Page Load  *@
    $(document).ready(function () {

    
        
        currentPage =1;
         

        $.ajax({
            type:"GET",
            url:"/Menu/GetCategories",
            data:{cat : @Model.SelectedCategory},
            success:function(data)
            {
                $('#category-list').html(data);
              


                $.ajax({
                url: '@Url.Action("Menu", "Menu")',
                type: 'GET',
                data: {cat:"@Model.SelectedCategory"},
                success: function (data) {
                        let $partialView = $(data);
    
                        let maincb = $partialView.find("#menu-main-checkbox");
                        let checkboxes = $partialView.find(".inner_checkbox");
                        console.log(maincb)
                         // When main checkbox is clicked
                        maincb.on("change", function () {
                            console.log("Main checkbox changed:", this.checked);
                            checkboxes.prop("checked", this.checked); // Set all inner checkboxes same as main
                        });

                        // If any inner checkbox is unchecked, uncheck the main checkbox
                        checkboxes.on("change", function () {
                            if (!this.checked) {
                                maincb.prop("checked", false);
                            } else if (checkboxes.length === checkboxes.filter(":checked").length) {
                                maincb.prop("checked", true);
                            }
                        });

                        $('#menuTableContainer').html($partialView);
                    
                    }
                });
            }

        });

        

        $.ajax({
            type:"GET",
            url:"/Menu/GetModifiers",
            success:function(data)
            {
                $('#modifier-list').html(data);
               
            }

        });

        $.ajax({
            url: '@Url.Action("GetModifierItemsList", "Menu")',
            type: 'GET',
            data: {modifiergroup_id:@Model.SelectedModifierGroup},
            success: function (data) {
                let $partialView = $(data);
    
                let maincb = $partialView.find("#menu-main-checkbox");
                let checkboxes = $partialView.find(".modifieritemcheckbox");
                console.log(maincb)
                 // When main checkbox is clicked
                maincb.on("change", function () {
                    console.log("Main checkbox changed:", this.checked);
                    checkboxes.prop("checked", this.checked); // Set all inner checkboxes same as main
                });
                  
                // If any inner checkbox is unchecked, uncheck the main checkbox
                checkboxes.on("change", function () {
                    if (!this.checked) {
                        maincb.prop("checked", false);
                    } else if (checkboxes.length === checkboxes.filter(":checked").length) {
                        maincb.prop("checked", true);
                    }
                });

                $('#modifieritemstablecontainer').html($partialView);
                
            }
        });

        $.ajax({
            url: '@Url.Action("Menu", "Menu")',
            type: 'GET',
            data: {cat:@Model.SelectedCategory},
            success: function (data) {
                let $partialView = $(data);
    
                let maincb = $partialView.find("#menu-main-checkbox");
                let checkboxes = $partialView.find(".inner_checkbox");
                console.log(maincb)
                 // When main checkbox is clicked
                maincb.on("change", function () {
                    console.log("Main checkbox changed:", this.checked);
                    checkboxes.prop("checked", this.checked); // Set all inner checkboxes same as main
                });
                  
                // If any inner checkbox is unchecked, uncheck the main checkbox
                checkboxes.on("change", function () {
                    if (!this.checked) {
                        maincb.prop("checked", false);
                    } else if (checkboxes.length === checkboxes.filter(":checked").length) {
                        maincb.prop("checked", true);
                    }
                });

                $('#menuTableContainer').html($partialView);
            }
        });
         
    });

   
     


    function setDeleteUserId(element) {
        var userId = element.getAttribute("data-id");
        var deleteBtn = document.getElementById("deleteUserBtn");
        deleteBtn.href = '@Url.Action("DeleteUser", "Menu")' + '?id=' + userId;
    }
    @* document.getElementById("search-field").addEventListener("keyup", function (event) {
        search();
    }); *@

    @* for getting modifier group option list *@
    $.ajax({
        type: "GET",
        url: "/GetData/GetModifierGroupList",
        dataType: "json",
        success: function(result) {
            console.log(result);
            for(let i=0;i<result.length;i++)
            {
                @* $("#modifierGroupSelect").append(`<option value="${result[i].ModifiergroupId}">${result[i].name}</option>`); *@
                $("#checkboxes").append(`<div class="form-check">
                <input class="form-check-input" type="checkbox" name="Modifiers" value="${result[i].modifiergroupId}">
                <label class="form-check-label" for="flexCheckDefault">
                    ${result[i].name}
                 </label>
                </div>`);
            }   
         }
    });
    
    var expanded = false;

function showCheckboxes() {
    console.log("click")
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.classList.remove('d-none');
    checkboxes.classList.add('d-block');
    expanded = true;
  } else {
    checkboxes.classList.remove('d-block');
    checkboxes.classList.add('d-none');
    expanded = false;
  }
}



@* -----Pagination For Menu Items List------- *@

function MenuitemsPaginationAjax(pageSize,pageNumber,category_id) {

    let cat_id= $("#category-list .category-active-option").attr("category-id");
    let searchkeyword = $("#menuitem-search-field").val();
       
        $.ajax({
            url: "/Menu/Menu",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber,'searchKeyword':searchkeyword,'cat':cat_id},
            type: "GET",
            dataType: "html",
            success: function (data) {
                $('#menuTableContainer').html(data);
                attachMassDeleteForMenuItem();
            },
            error: function () {
                $("#menuTableContainer").html('An error has occurred');
            }
        });
    }


@* -----Pagination For Modifier Items List Modal------- *@
function PaginationAjax(pageSize,pageNumber) {

    // Get the dropdown element
    let pageSizeDropdown = document.getElementById("pageSizeDropdownformodal");
    let searchkeyword = $("#modifieritemsmodal-search-field").val();
    console.log(searchkeyword)
    
    // Store the currently selected value
    let selectedPageSize = pageSizeDropdown?.value;

    console.log("inside pag ajax",pageSize)
        @* if (pageNumber === 0) {
            pageNumber = @((Model?.Page?.CurrentPage ?? 1));
        } *@
        $.ajax({
            url: "/Menu/GetAllModifierItemsList",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber,'searchKeyword':searchkeyword},
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#modifieritemstablecontainerofmodal").html(data);
                @* onPartialViewLoaded(); // Ensure checkboxes update after reloading the partial *@
                checkSelectedCheckboxes();
                attachCheckboxListnerModifierItemForEditModal();
    
            },
            error: function () {
                alert("No Projects Found");
                
                $("#modifieritemstablecontainerofmodal").html('An error has occurred');
            }
        });
    }

@* -----Pagination For Modifier Items List add modifier group Modal------- *@
function ModifieritemListForAddPaginationAjax(pageSize,pageNumber) {

     // Get the dropdown element
    let pageSizeDropdown = document.getElementById("pageSizeDropdownformodal");
    let searchkeyword = $("#modifieritemsforaddmodal-search-field").val();
    
    // Store the currently selected value
    let selectedPageSize = pageSizeDropdown?.value;
       
        $.ajax({
            url: "/Menu/GetAllModifierItemsListForAdd",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber,'searchKeyword':searchkeyword},
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#modifieritemstablecontainerofaddmodal").html(data);
                checkSelectedCheckboxesforAdd();
                attachCheckboxListnerModifierItemForAddModal();
            },
            error: function () {
                alert("No Projects Found");
                
                $("#modifieritemstablecontainerofaddmodal").html('An error has occurred');
            }
        });
    }

@* -----Pagination For Modifier Items List------- *@

function ModifieritemsPaginationAjax(pageSize,pageNumber,modifiergroup_id) {
     // Get the dropdown element
   
    modifiergroup_id = $("#modifier-list .category-active-option").attr("modifiergroup-id");
    let pageSizeDropdown = document.getElementById("pageSizeDropdownformodal");
    let searchkeyword = $("#modifieritems-search-field").val();

    console.log("inside pag ajax",pageSize) 
       
        $.ajax({
            url: "/Menu/GetModifierItemsList",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber,'searchKeyword':searchkeyword,'modifiergroup_id':modifiergroup_id},
            type: "GET",
            dataType: "html",
            success: function (data) {

                $('#modifieritemstablecontainer').html(data);
                attachMassDeleteForModifierItem();
                
            },
            error: function () {
                @* $("#modifieritemstablecontainer").html('An error has occurred'); *@
            }
        });
    }

   
    @* function for getting modifier item name which is related to perticular modifier group *@

    let  selectedModifierIdsforedit = [];
    

    @* clear the existing modifier section when closing modal *@

    function ClearSection()
    {
        document.getElementById("selectedModifieritemcontainerforedit").innerHTML="";
    }

    @* function need to be called after document get load *@ 
    @* pwd1 *@
    $(document).ready(function () {

        PaginationAjax();
        ModifieritemsPaginationAjax();
        ModifieritemListForAddPaginationAjax();
        MenuitemsPaginationAjax();
       
    });

    let selectedModifiers = []; 
    let  selectedModifierIds = [];
    let selectedModifiersforedit = [];
    


    // Function to handle checkbox selection
    function handleCheckboxChange(event) {
        let modifierId = event.target.value;

        if (event.target.checked) {
            if (!selectedModifierIdsforedit.some(modifier => modifier === parseInt(modifierId))) {
                @* selectedModifiers.push(modifierId); *@
                @* selectedModifiers.push({id:modifierId,name:event.target.getAttribute("m-name")}); *@
                selectedModifierIdsforedit.push(parseInt(modifierId));

                console.log("chbxchange",selectedModifierIdsforedit)
            }
        } else {
            selectedModifierIdsforedit = selectedModifierIdsforedit.filter(id => id !== modifierId);
        }
    }
   
    function attachCheckboxListeners() {
        document.querySelectorAll(".modifieritemcheckboxofmodal").forEach((checkbox) => {
            checkbox.addEventListener("change", handleCheckboxChange);
        });

        @* updateCheckboxStates(); // Re-check checkboxes after reloading the partial view *@
    }

    function onPartialViewLoaded() {
        attachCheckboxListeners();  // Rebind event listeners
    }


    document.getElementById("modifieritemsmodal-search-field").addEventListener('keyup',()=>{
        PaginationAjax();
    })
    document.getElementById("modifieritemsforaddmodal-search-field").addEventListener('keyup',()=>{
        ModifieritemListForAddPaginationAjax();
    })
    document.getElementById("modifieritems-search-field").addEventListener('keyup',()=>{
        ModifieritemsPaginationAjax();
    })
    document.getElementById("menuitem-search-field").addEventListener('keyup',()=>{
        console.log("hello")
        MenuitemsPaginationAjax();
    })


    $("#modifierForm").submit(function (e) {
        e.preventDefault(); // Prevent default form submission

        let formData = new FormData(this); 
        @* let form = $("#modifierForm"); *@
        // Append each selected modifier's id
        selectedModifiers.forEach(modifier => {
            formData.append("ModifieritemsId[]", modifier.id); 
        });

        $.ajax({
            url: $(this).attr("action"), // Get form action URL
            type: $(this).attr("method"), // Get form method (POST)
            data: formData,
            processData: false, // Prevent jQuery from processing the data
            contentType: false, // Prevent jQuery from setting content type
            success: function (response) {
                console.log("Success:", response);
                alert("Modifier group added successfully!");
            },
            error: function (error) {
                console.error("Error:", error);
                alert("Something went wrong!");
            }
        });
    
    });




let  selectedModifierIdsforAdd= [];

     function ClearSectionforAdd() 
    { 
        document.getElementById("selectedModifieritemcontainer").innerHTML="";
    }
 $(document).ready(function () {

        updateCheckboxStatesForAdd();
    });

     // Function to check checkboxes based on selectedModifiers
    function updateCheckboxStatesForAdd() {

        console.log("inside add upch")
        console.log(selectedModifierIdsforAdd)
        document.querySelectorAll(".modifieritemcheckboxofaddmodal").forEach((checkbox) => {
          
            if (selectedModifierIdsforAdd.includes(parseInt(checkbox.value))) {
                checkbox.checked = true;
            } else {
                checkbox.checked = false;
                
            }
        });
    }

    function attachCheckboxListenersforAddModal() {
        document.querySelectorAll(".modifieritemcheckboxofaddmodal").forEach((checkbox) => {
            checkbox.addEventListener("change", handleCheckboxChangeforAdd);
        });

        updateCheckboxStatesForAdd(); // Re-check checkboxes after reloading the partial view
    }

    
       

    // Function to handle checkbox selection
    function handleCheckboxChangeforAdd(event) {
        let modifierId = event.target.value;

        if (event.target.checked) {
            if (!selectedModifierIdsforAdd.some(modifier => modifier === parseInt(modifierId))) {
              
                selectedModifierIdsforAdd.push(parseInt(modifierId));

                console.log("chbxchange",selectedModifierIdsforAdd)
            }
        } else {
            selectedModifierIdsforAdd = selectedModifierIdsforAdd.filter(id => id !== modifierId);
        }
    }
   
    


@* Delete Modifier Group *@



</script> 