@* @model IEnumerable<DAL.ViewModels.CategoryNameViewModel> *@
@model DAL.ViewModels.MenuViewModel;

<div class="Menu-container p-3">

    <h3 class="custom-blue">Menu</h3>


    <div class="switching-tabs-section d-flex justify-content-start gap-4 bg-white px-3 nav
                " role="tablist">

        <div class="d-flex justify-content-center gap-2 nav-link active p-3" id="nav-home-tab" data-bs-toggle="tab"
            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
            <div><img src="~/images/icons/list-check.svg" alt="" class="small-img"></div>
            <div>Items</div>
        </div>
        <div class="d-flex justify-content-center gap-2 nav-link p-3" id="nav-profile-tab" data-bs-toggle="tab"
            data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
            <div><img src="~/images/sidebar icons/dashboard.png" alt="" class="small-img"></div>
  
            <div class="">Modifiers</div>
        </div>


    </div>

    @* category list for samll screen *@

    <div class="CategoryForSmallScreen d-lg-none bg-white mt-2 p-2 ">

       
        <div class="d-flex justify-content-between align-items-center p-1">
            <h5 class="custom-blue">Category</h5>
            <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">+
            </div>
        </div>
        <div class="d-flex flex-column p-2 gap-4 fw-medium overflow-auto h-100">
             @foreach(var c in Model.Categories){
            <div class="category-option-smallscreen d-flex justify-content-start align-items-center gap-2 ">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="" class="category-option-img">
                <div>@c.Name</div>
            </div>
        }
            
        </div>
    </div>


    <div class="tab-content bg-white mt-2 bg-white position-relative " id="nav-tabContent">
        <div class="tab-pane fade show active w-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
            tabindex="0">
            <div class="d-flex w-100">
                <div class=" category-menu border-0 pt-3 d-none d-lg-block">
                    <div class="d-flex justify-content-between align-items-center p-1">
                        <h5 class="custom-blue">Category</h5>
                        <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">+
                        </div>
                    </div>
                    <div class="d-flex flex-column p-2 mt-5 gap-4 fw-medium overflow-auto h-75">

                    @* category list  *@

                        @foreach (var c in Model.Categories)
                        {
                            <div
                                class="category-option d-flex justify-content-between align-items-center gap-2 @(Model.SelectedCategory == c.Name?"category-active-option":"")" id="category_option"  >
                                <div class="d-flex gap-2" style="cursor: pointer;" onclick="loaditems(this)" category-name="@c.Name">
                                    <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="" class="category-option-img ">
                                    <div>@c.Name</div>
                                </div>
                               
                                <div class="d-flex justify-content-between gap-3 d-none" id="categoryoption_actionbtn">
                                    @* <a asp-action="Edit" asp-controller="Menu" asp-route-id="@c.Id"> *@
                                        <img src="~/images/icons/pen.svg" alt="" data-bs-toggle="modal" data-bs-target="#editcategory" onclick="setEditData(this)" data-id="@c.Id" data-name="@c.Name" data-description="@c.Description" obj="@c">
                                        @* </a> *@
                                    <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                                        data-bs-target="#deletecategorymodal" onclick="setDeleteUserId(this)" data-id="@c.Id"
                                        alt="">
                                </div>
                            </div>
                        }

                    </div>

                </div>
                <div class="d-flex flex-column flex-grow-1 pt-3 px-3 w-100 ">
                    <div class="d-flex justify-content-between">
                        <h5 class="custom-blue">Items</h5>


                    </div>
                    <div
                        class="search-delete-section d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="search-section d-flex gap-2 ">
                            <div class="position-relative" style="width: 180px;">
                                <input type="text" class="p-2 w-100" placeholder="Search" id="search-field">
                                <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                            </div>
                            <div class="d-flex justify-content-center align-items-center w-auto border rounded px-3 " style="cursor: pointer;"  data-bs-toggle="modal" data-bs-target="#deleteitemmodal">
                                <img src="~/images/icons/trash.svg" alt="" srcset="" style="width: 20px;"
                                    class="small-img" >
                            </div>
                            <button type="button" class=" custom-btn-bg text-white p-2 border d-none d-md-block" data-bs-toggle="modal" data-bs-target="#addmenuitem"><span
                                    class="fs-5 fw-semibold" >+</span> New
                                Item</button>
                            <button type="button"
                                class=" custom-btn-bg text-white px-3 border fs-5 fw-bold d-md-none">+</button>
                        </div>
                    </div>
                    <div class="table-section bg-white table-responsive mt-5 ms-2 me-2">
                        <table class="table">
                            <tr>
                                <th class="d-flex">
                                    <div class="form-check">
                                        <input class="form-check-input outer_checkbox" id="menu-main-checkbox"
                                            type="checkbox" value="" id="flexCheckIndeterminate">
                                    </div> <span>Name</span>
                                </th>
                                <th>ItemType</th>
                                <th>Rate</th>
                                <th>Quantity</th>
                                <th>Available</th>
                                <th>Action</th>
                            </tr>

                            @* items list based on category *@
                            @foreach(var i in Model.Itemsmodel.Items)
                            {

                                 <tr>
                                <td>
                                    <div class="d-flex justify-content-start gap-2 align-items-center">
                                        <div class="form-check">
                                            <input class="form-check-input inner_checkbox" type="checkbox" value="@i.ItemId"
                                                id="flexCheckIndeterminate">
                                        </div>
                                        @* <img src="~/images/dining-menu.png" class="small-img"> *@
                                        <img src="@(i.Image!=null && !string.IsNullOrEmpty(i.Image)?i.Image:"/images/dining-menu.png")" class="small-img">
                                        <span>@i.ItemName</span>
                                    </div>
                                </td>
                                <td>
                                    @if(i.Type=="Veg"){
                                        <img src="~/images/icons/veg-icon.svg" alt="" class="small-img ">
                                    }else{

                                    <img src="~/images/icons/non-veg-icon.svg" alt="" class="small-img ">
                                    }
                                </td>
                                <td>@i.Rate</td>
                                <td>@i.Quantity</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault" @(i.Isavailable?"checked":"")>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start gap-5">
                                        <img src="~/images/icons/pen.svg" alt="" data-bs-toggle="modal" data-bs-target="#editmenuitem" item-obj='@Html.Raw(Json.Serialize(i))' onclick="setedititemdata(this)">
                                        <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" alt="">
                                    </div>

                                </td>
                            </tr>

                            }
                            

                        </table>
                        <div class="pagination-section d-flex justify-content-end align-items-center gap-2 overflow-auto w-100">
            <div class="d-flex justify-content-md-end align-items-center gap-2 w-100">
                <div>Items per page: </div>
                <select class="form-select" style="width:68px ;" aria-label="Default select example"
                    id="pageSizeDropdown" onchange="changePageSize()">
                    <option selected>@Model.Itemsmodel.PageSize</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
                <div>Showing @Model.Itemsmodel.StartIndex - @Model.Itemsmodel.EndIndex of @Model.Itemsmodel.TotalCount</div>
                @if (Model.Itemsmodel.CurrentPage > 1)
                {
                    <a href="@Url.Action("Menu", new { pageNumber = Model.Itemsmodel.CurrentPage - 1, pageSize = Model.Itemsmodel.PageSize, SearchKeyword = Model.Itemsmodel.SearchKeyword,cat = Model.SelectedCategory })"
                        class="text-black" style="text-decoration: none;">
                        <div class="border p-2 px-3"> &lt; </div>
                    </a>
                }
                @if (Model.Itemsmodel.CurrentPage < Model.Itemsmodel.TotalPages)
                {
                    <a href="@Url.Action("Menu", new { pageNumber = Model.Itemsmodel.CurrentPage + 1, pageSize = Model.Itemsmodel.PageSize, SearchKeyword = Model.Itemsmodel.SearchKeyword,cat = Model.SelectedCategory })"
                        class="text-black" style="text-decoration: none;">
                        <div class="border p-2 px-3">&gt;</div>
                    </a>
                }
            </div>
                        </div>
                    </div>

                </div>

            </div>


@* -----------second tab------------ *@
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div class="d-flex">
                    helllo
                </div>
            </div>


        </div>

    </div>


   

   

    <!-- add category modal -->
    <div class="modal fade w-75" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="Menu" asp-controller="Menu" method="post">
                    <div class="modal-body">
                        <div class="d-flex flex-column">

                            <div class="mb-3">

                                <input type="text" class="form-control p-3" id="exampleFormControlInput1" name="Name"
                                    placeholder="Name">
                            </div>
                            <div class="mb-3">

                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Description" name="Description"></textarea>
                            </div>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>

                    

                </form>
            </div>
        </div>
    </div>


      @* ---------------- Delete category modal body------------------- *@

    <div class="modal" tabindex="-1" id="deletecategorymodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Category?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteCategoryBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    @* -------------------------------------------------------------- *@


    @* edit category modal *@

     <div class="modal fade" id="editcategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">edit Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="Menu" asp-controller="Menu" method="post">
                    <div class="modal-body">
                        <div class="d-flex flex-column">
                            <input type="text" id="editid" name="Id" hidden>

                            <div class="mb-3">

                                <input type="text" class="form-control p-3" id="editformname" name="Name"
                                    placeholder="Name">
                            </div>
                            <div class="mb-3">

                                <textarea class="form-control" id="editformdescription" rows="3"
                                    placeholder="Description" name="Description"></textarea>
                            </div>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                        <button type="submit" class="btn custom-btn-bg text-white fw-medium" id="editmodalbtn">Edit</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                       
                </form>
            </div>
        </div>
    </div>
</div>

 @* Add Menu Item modal *@

     <div class="modal fade " id="addmenuitem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-75 "  style="max-width: 100%">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Menu Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addItemForm" enctype="multipart/form-data" >
                    <div class="modal-body">
                         <div class="add-menu-item row">

                                <div class="col-8">

                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-floating col">
                                    <div class="form-floating col">
                                        <select  class="form-select" id="Category" name="CategoryId">
                                            @* <option selected>Select Categories</option> *@
                                            @foreach(var c in Model.Categories){
                                                if(c.Name == Model.SelectedCategory){
                                                    <option value=@c.Id selected>@c.Name</option>
                                                }else{

                                                <option value=@c.Id>@c.Name</option>
                                                }
                                            }
                                        </select>
                                        <label for="floatingSelect">Categories</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="form-floating col-6">
                                    <div class="form-floating col">
                                        <select  class="form-select" name="Type">
                                            <option selected>Select a Type</option>
                                            <option value="Veg">Veg</option>
                                            <option value="Non-Veg">Non-Veg</option>
                                        </select>
                                        <label for="floatingSelect">Item Type</label>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingInput" value="0" name="Rate">
                                        <label for="floatingInput">Rate</label>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch" name="Isavailable" value="true">
                                        <span class="ms-3">Available</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch" name="DefaultTax" value="true">
                                        <span class="ms-3">Default Tax</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control p-3" type="text" placeholder="Name" name="ItemName" >
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingInput" value="0" name="Quantity">
                                        <label for="floatingInput">Quantity</label>
                                    </div>
                                </div>
                                <div class="form-floating col-6">
                                    <div class="form-floating col">
                                        <select  class="form-select" name="Unit">
                                            <option selected>Select a Unit</option>
                                            <option value="Pcs">Piece</option>
                                            <option value="Kg">Kilogram</option>
                                            <option value="In">Inches</option>
                                            <option value="Ltr">Liter</option>
                                        </select>
                                        <label for="floatingSelect">Unit</label>
                                    </div>
                                </div>



                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <input class="form-control form-control p-3" type="text" placeholder="Tax Percentage" name="TaxPercentage">
                                </div>
                                <div class="col-6">
                                    <input class="form-control form-control p-3" type="text" placeholder="Short Code" name="ShortCode">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="form-floating">
                            <textarea class="form-control"  id="floatingTextarea" style="height: 100px" name="Description"></textarea>
                            <label for="floatingTextarea">Description</label>
                          </div>
                    </div>

                    <div class="row mt-4">
                        <div>
                            <input type="file" id="" class="bg-primary w-100 file-input position-absolute opacity-0" name="Image">
                            <div class="d-flex flex-column w-100 align-items-center border rounded py-4 gap-2 bg-white">
                                <img src="~/images/icons/cloud-upload.svg" alt="" srcset="" class="">
                                <div>Browse Files</div>
                            </div>
                        </div>
                    </div> 
                                </div>
        
                                 <div class="col-4" style="background-color: #fff5d7;">
                                <div class="form col-12">
                                    <div class="row mt-2">
                                        <div class="form col multiselect">
                                        <div  class="form-select selectBox" id="modifierGroupSelect" onclick="showCheckboxes()">
                                            @* <option selected>Select Modifiers Group</option> *@
                                            Select Modifier Group
                                        </div>

                                        <div id="checkboxes" class="d-flex flex-column bg-white rounded d-none p-2">

                                         </div>

                                    </div>
                                    </div>

                                </div>
                                 </div>
                         </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                        <button type="submit" class="btn custom-btn-bg text-white fw-medium" id="editmodalbtn">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                       
                </form>
            </div>
        </div>
    </div>

@* Edit Menu Item Modal *@
    
    <div class="modal fade " id="editmenuitem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-75 "  style="max-width: 100%">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Menu Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addItemForm" enctype="multipart/form-data" asp-action="EditItem" asp-controller="Menu" method="post" >
                    <div class="modal-body">
                         <div class="add-menu-item row">

                            <input name="Id" id ="itemId"  hidden>

                                <div class="col-8">

                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="form-floating col">
                                    <div class="form-floating col">
                                        <select  class="form-select" id="Category" name="CategoryId">
                                            @* <option selected>Select Categories</option> *@
                                            @foreach(var c in Model.Categories){
                                                if(c.Name == Model.SelectedCategory){
                                                    <option value=@c.Id selected>@c.Name</option>
                                                }else{

                                                <option value=@c.Id>@c.Name</option>
                                                }
                                            }
                                        </select>
                                        <label for="floatingSelect">Categories</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="form-floating col-6">
                                    <div class="form-floating col"> 
                                        <select  class="form-select" name="Type" id="type">
                                            <option selected>Select a Type</option>
                                            <option value="Veg">Veg</option>
                                            <option value="Non-Veg">Non-Veg</option>
                                        </select>
                                        <label for="floatingSelect">Item Type</label>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="Rate" value="0" name="Rate">
                                        <label for="floatingInput">Rate</label>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch" name="Isavailable" id="Isavailable" value="true">
                                        <span class="ms-3">Available</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch" name="DefaultTax" id="DefaultTax" value="true">
                                        <span class="ms-3">Default Tax</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control p-3" type="text" placeholder="Name" name="ItemName" id="itemname">
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control"  value="0" name="Quantity" id="Quantity">
                                        <label for="floatingInput">Quantity</label>
                                    </div>
                                </div>
                                <div class="form-floating col-6">
                                    <div class="form-floating col">
                                        <select  class="form-select" name="Unit" id ="Unit">
                                            <option selected>Select a Unit</option>
                                            <option value="Pcs">Piece</option>
                                            <option value="Kg">Kilogram</option>
                                            <option value="In">Inches</option>
                                            <option value="Ltr">Liter</option>
                                        </select>
                                        <label for="floatingSelect">Unit</label>
                                    </div>
                                </div>



                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <input class="form-control form-control p-3" type="text" placeholder="Tax Percentage" name="TaxPercentage" id="TaxPercentage">
                                </div>
                                <div class="col-6">
                                    <input class="form-control form-control p-3" type="text" placeholder="Short Code" name="ShortCode" id="ShortCode">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="form-floating">
                            <textarea class="form-control"  style="height: 100px" name="Description" id="Description"></textarea>
                            <label for="floatingTextarea">Description</label>
                          </div>
                    </div>

                    <div class="row mt-4">
                        <div>
                            <input type="file" id="" class="bg-primary w-100 file-input position-absolute opacity-0" name="Image">
                            <div class="d-flex flex-column w-100 align-items-center border rounded py-4 gap-2 bg-white">
                                <img src="~/images/icons/cloud-upload.svg" alt="" srcset="" class="">
                                <div>Browse Files</div>
                            </div>
                        </div>
                    </div> 
                                </div>
        
                                 <div class="col-4" style="background-color: #fff5d7;">
                                <div class="form col-12">
                                    <div class="row mt-2">
                                        <div class="form col multiselect">
                                        <div  class="form-select selectBox" id="modifierGroupSelect" onclick="showCheckboxes()">
                                            @* <option selected>Select Modifiers Group</option> *@
                                            Select Modifier Group
                                        </div>

                                        <div id="checkboxes" class="d-flex flex-column bg-white rounded d-none p-2">

                                         </div>

                                    </div>
                                    </div>

                                </div>
                                 </div>
                         </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                        <button type="submit" class="btn custom-btn-bg text-white fw-medium" id="editmodalbtn">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                       
                </form>
            </div>
        </div>
    </div>


      @* ---------------- Delete item modal body------------------- *@

    <div class="modal" tabindex="-1" id="deleteitemmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">
                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete these Items?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteitemBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    @* -------------------------------------------------------------- *@
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 var categoryoption = document.querySelectorAll(".category-option");

    categoryoption.forEach(opt => {
        opt.addEventListener("mouseover", function() {
            var actionbtn = opt.querySelector("#categoryoption_actionbtn");
            
            actionbtn.classList.remove("d-none");
            actionbtn.classList.add("d-block");
        });
        opt.addEventListener("mouseleave", function() {
            var actionbtn = opt.querySelector("#categoryoption_actionbtn");
            actionbtn.classList.remove("d-block");
            actionbtn.classList.add("d-none");
        });
    });

    function setEditData(element){
    

        var userId = element.getAttribute("data-id");
        var name =  element.getAttribute("data-name")
        var description = element.getAttribute("data-description");
        var editBtn = document.getElementById("editmodalbtn");
        document.getElementById("editid").value=userId;
        document.getElementById("editformname").value=name;
        document.getElementById("editformdescription").value=description;
        @* editBtn.href = '@Url.Action("Menu", "Menu")' + '?id=' + userId; *@
    }

    function setDeleteUserId(element) {
        var Id = element.getAttribute("data-id");
        var deleteBtn = document.getElementById("deleteCategoryBtn");
        deleteBtn.href = '@Url.Action("DeleteCategory", "Menu")' + '?id=' + Id;
    }

    function loaditems(ele)
    {
        var name = ele.getAttribute("category-name");
        window.location.href="/Menu/Menu?cat="+name;
    }

    document.addEventListener("DOMContentLoaded", () => {
        const categories = document.querySelectorAll(".category-option");
        const categoriesforsmall = document.querySelectorAll(".category-option-smallscreen");

        if (categories.length > 0) {
            // Select the first category by default
            @* categories[0].classList.add("category-active-option");
            categoriesforsmall[0].classList.add("category-active-option"); *@
        }

        categories.forEach(category => {
            category.addEventListener("click", () => {
                // Remove the active class from all categories
                categories.forEach(cat => cat.classList.remove("category-active-option"));

                // Add active class to the clicked category
                category.classList.add("category-active-option");
            });
        });
        categoriesforsmall.forEach(category => {
            category.addEventListener("click", () => {
                // Remove the active class from all categories
                categoriesforsmall.forEach(cat => cat.classList.remove("category-active-option"));

                // Add active class to the clicked category
                category.classList.add("category-active-option");
            });
        });
    });

     function changePageSize() {
        var pageSize = document.getElementById("pageSizeDropdown").value;
        var currentPage = @Model.Itemsmodel.CurrentPage;
        window.location.href = '@Url.Action("Menu", "Menu")' + '?pageNumber=' + currentPage + '&pageSize=' + pageSize + '&searchKeyword=' + '@Model.Itemsmodel.SearchKeyword';
    }

    function search() {
        var search_keyword = document.getElementById("search-field").value;
        var pageSize = document.getElementById("pageSizeDropdown").value;
        window.location.href = '@Url.Action("Menu", "Menu")' + '?searchKeyword=' + search_keyword + '&pageSize=' + pageSize;
    }

    function setDeleteUserId(element) {
        var userId = element.getAttribute("data-id");
        var deleteBtn = document.getElementById("deleteUserBtn");
        deleteBtn.href = '@Url.Action("DeleteUser", "Menu")' + '?id=' + userId;
    }
    document.getElementById("search-field").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            search();
        }
    });

    @* for getting modifier group option list *@
    $.ajax({
        type: "GET",
        url: "/GetData/GetModifierGroupList",
        dataType: "json",
        success: function(result) {
            console.log(result);
            for(let i=0;i<result.length;i++)
            {
                @* $("#modifierGroupSelect").append(`<option value="${result[i].ModifiergroupId}">${result[i].name}</option>`); *@
                $("#checkboxes").append(`<div class="form-check">
                <input class="form-check-input" type="checkbox" name="Modifiers" value="${result[i].modifiergroupId}">
                <label class="form-check-label" for="flexCheckDefault">
                    ${result[i].name}
                 </label>
                </div>`);
            }   
         }
    });
    var expanded = false;

function showCheckboxes() {
    console.log("click")
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.classList.remove('d-none');
    checkboxes.classList.add('d-block');
    expanded = true;
  } else {
    checkboxes.classList.remove('d-block');
    checkboxes.classList.add('d-none');
    expanded = false;
  }
}

$("#addItemForm").submit(function (e) {
    e.preventDefault();
    $('#addmenuitem').modal('hide'); 
    console.log("inside form")
    let formData = new FormData(this);

    // Get checked modifier values
    let selectedModifiers = [];
    $("input[name='Modifiers']:checked").each(function () {
        selectedModifiers.push($(this).val());
    });

    formData.append("Modifiers", selectedModifiers);
    console.log(selectedModifiers);
    $.ajax({
        type: "POST",
        url: "/Menu/AddNewItem",
        data: formData,
        contentType: false,
        processData: false,
        success:function (response){
            @* TempData["ToastrType"] = "success";  
            TempData["ToastrMessage"] = "item add Successfully!"; *@
            if (response.redirectTo) {
            window.location.href = response.redirectTo;  // Manually redirect
        }
             
            
        }
    });
});

function setedititemdata(ele)
{
    var c = JSON.parse(ele.getAttribute("item-obj"));
    console.log(c);

    var editmenuitem = document.getElementById("editmenuitem");
    editmenuitem.querySelector("#Rate").value =c.rate;
    editmenuitem.querySelector("#type").value =c.type;
    editmenuitem.querySelector("#Isavailable").checked =c.isavailable?true:false;
    editmenuitem.querySelector("#itemname").value =c.itemName;
    editmenuitem.querySelector("#Quantity").value =c.quantity;
    editmenuitem.querySelector("#Unit").value =c.unit;
    editmenuitem.querySelector("#TaxPercentage").value =c.taxPercentage;
    editmenuitem.querySelector("#ShortCode").value =c.shortCode;
    editmenuitem.querySelector("#Description").value =c.description;
    editmenuitem.querySelector("#DefaultTax").checked =c.defaultTax?true:false;
    editmenuitem.querySelector("#itemId").value =c.itemId;
}



document.addEventListener("DOMContentLoaded", function () {
    // Select main checkbox
    const mainCheckbox = document.getElementById("menu-main-checkbox");
    const checkboxes = document.querySelectorAll(".inner_checkbox");

    // When main checkbox is clicked
    mainCheckbox.addEventListener("change", function () {
        checkboxes.forEach(checkbox => {
            checkbox.checked = mainCheckbox.checked; // Set inner checkboxes same as main
        });
    });

    // If any inner checkbox is unchecked, uncheck the main checkbox
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener("change", function () {
            if (!this.checked) {
                mainCheckbox.checked = false;
            }
            // If all checkboxes are checked, also check the main checkbox
            else if (Array.from(checkboxes).every(chk => chk.checked)) {
                mainCheckbox.checked = true;
            }
        });
    });
});

    document.getElementById("deleteitemBtn").addEventListener("click",()=>{
       
    })

  $("#deleteitemBtn").click(function (e) {
    var idlist = [];
    const checkboxes = document.querySelectorAll(".inner_checkbox");

    checkboxes.forEach(checkbox => {
        if (checkbox.checked) {
            idlist.push(checkbox.value);  // Fix: Use checkbox.value instead of this.value
        }
    });

    console.log(idlist)
    

    $.ajax({
        url: "/Menu/Deleteitems",
        method: "POST",
        data:{
            ids: idlist
         },  
        success: function (response) {
            console.log("Items deleted successfully");
            window.location.href='/Menu/Menu?cat=@Model.SelectedCategory'; 
        },
        error: function (xhr, status, error) {
            console.error("Error deleting items:", error);
        }
    });
});

</script> 