@model IEnumerable<DAL.ViewModels.CategoryNameViewModel>

<div class="Menu-container p-3">

    <h3 class="custom-blue">Menu</h3>

    <div class="switching-tabs-section d-flex justify-content-start gap-4 bg-white px-3 nav
                " role="tablist">

        <div class="d-flex justify-content-center gap-2 nav-link active p-3" id="nav-home-tab" data-bs-toggle="tab"
            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
            <div><img src="~/images/icons/list-check.svg" alt="" class="small-img"></div>
            <div>Items</div>
        </div>
        <div class="d-flex justify-content-center gap-2 nav-link p-3" id="nav-profile-tab" data-bs-toggle="tab"
            data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
            <div><img src="~/images/sidebar icons/dashboard.png" alt="" class="small-img"></div>
            <div class="">Modifiers</div>
        </div>


    </div>

    <div class="CategoryForSmallScreen d-lg-none bg-white mt-2 p-2 ">

        @* @foreach(var c in Model){
                         <div class="d-flex justify-content-between align-items-center p-1">
                        <h5 class="custom-blue">@c.Name</h5>
                        <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">+
                        </div>
                    </div>
                    } *@
        <div class="d-flex justify-content-between align-items-center p-1">
            <h5 class="custom-blue">Category</h5>
            <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">+
            </div>
        </div>
        <div class="d-flex flex-column p-2 gap-4 fw-medium overflow-auto h-100">
            <div class="category-option d-flex justify-content-start align-items-center gap-2 category-active-option">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="" class="active-option-img">
                <div>Sandwitch</div>
            </div>
            <div class="category-option d-flex justify-content-start align-items-center gap-2">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                <div>Pasta</div>
            </div>


            <div class="category-option d-flex justify-content-start align-items-center gap-2">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                <div>Sides And Appetizers</div>
            </div>


            <div class="category-option d-flex justify-content-start align-items-center gap-2">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                <div>Salads</div>
            </div>


            <div class="category-option d-flex justify-content-start align-items-center gap-2">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                <div>Deeps And Sauces</div>
            </div>


            <div class="category-option d-flex justify-content-start align-items-center gap-2">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                <div>Pizza</div>
            </div>

            <div class="category-option d-flex justify-content-start align-items-center gap-2">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                <div>Desserts</div>
            </div>


            <div class="category-option d-flex justify-content-start align-items-center gap-2">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                <div>Burger</div>
            </div>
        </div>
    </div>


    <div class="tab-content bg-white mt-2 bg-white position-relative " id="nav-tabContent">
        <div class="tab-pane fade show active w-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
            tabindex="0">
            <div class="d-flex w-100">
                <div class=" category-menu border-0 pt-3 d-none d-lg-block">
                    <div class="d-flex justify-content-between align-items-center p-1">
                        <h5 class="custom-blue">Category</h5>
                        <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">+
                        </div>
                    </div>
                    <div class="d-flex flex-column p-2 mt-5 gap-4 fw-medium overflow-auto h-75">

                        @foreach (var c in Model)
                        {
                            <div
                                class="category-option d-flex justify-content-between align-items-center gap-2 category-active-option">
                                <div class="d-flex gap-2">
                                     <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="" class="active-option-img category-option-img ">
                                <div>@c.Name</div>
                                </div>
                               
                                <div class="d-flex justify-content-between gap-3" id="categoryoption_actionbtn">
                                    @* <a asp-action="Edit" asp-controller="Menu" asp-route-id="@c.Id"> *@
                                        <img src="~/images/icons/pen.svg" alt="" data-bs-toggle="modal" data-bs-target="#editcategory" onclick="setEditData(this)" data-id="@c.Id" data-name="@c.Name" data-description="@c.Description" obj="@c">
                                        @* </a> *@
                                    <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                                        data-bs-target="#deletecategorymodal" onclick="setDeleteUserId(this)" data-id="@c.Id"
                                        alt="">
                                </div>
                            </div>
                        }

                    </div>

                </div>
                <div class="d-flex flex-column flex-grow-1 pt-3 px-3 w-100 ">
                    <div class="d-flex justify-content-between">
                        <h5 class="custom-blue">Items</h5>


                    </div>
                    <div
                        class="search-delete-section d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="search-section d-flex gap-2 ">
                            <div class="position-relative" style="width: 180px;">
                                <input type="text" class="p-2 w-100" placeholder="Search">
                                <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                            </div>
                            <div class="d-flex justify-content-center align-items-center w-auto border rounded px-3">
                                <img src="~/images/icons/trash.svg" alt="" srcset="" style="width: 20px;"
                                    class="small-img">
                            </div>
                            <button type="button" class=" custom-btn-bg text-white p-2 border d-none d-md-block"><span
                                    class="fs-5 fw-semibold">+</span> New
                                Item</button>
                            <button type="button"
                                class=" custom-btn-bg text-white px-3 border fs-5 fw-bold d-md-none">+</button>
                        </div>
                    </div>
                    <div class="table-section bg-white table-responsive mt-5 ms-2 me-2">
                        <table class="table">
                            <tr>
                                <th class="d-flex">
                                    <div class="form-check">
                                        <input class="form-check-input outer_checkbox" id="menu-main-checkbox"
                                            type="checkbox" value="" id="flexCheckIndeterminate">
                                    </div> <span>Name</span>
                                </th>
                                <th>ItemType</th>
                                <th>Rate</th>
                                <th>Quantity</th>
                                <th>Available</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-start gap-2 align-items-center">
                                        <div class="form-check">
                                            <input class="form-check-input inner_checkbox" type="checkbox" value=""
                                                id="flexCheckIndeterminate">
                                        </div>
                                        <img src="~/images/dining-menu.png" class="small-img">
                                        <span>Punjabi Tadka Sandwitch</span>
                                    </div>
                                </td>
                                <td><img src="~/images/icons/non-veg-icon.svg" alt="" class="small-img ">
                                </td>
                                <td>200</td>
                                <td>1</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start gap-5">
                                        <img src="~/images/icons/pen.svg" alt="">
                                        <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" alt="">
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-start gap-2 align-items-center">
                                        <div class="form-check">
                                            <input class="form-check-input inner_checkbox" type="checkbox" value=""
                                                id="flexCheckIndeterminate">
                                        </div>
                                        <img src="~/images/dining-menu.png" alt="" class="small-img">
                                        <span>Chicken Sandwitch</span>
                                    </div>
                                </td>
                                <td><img src="~/images/icons/non-veg-icon.svg" alt="" class="small-img">
                                </td>
                                <td>200</td>
                                <td>1</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start gap-5">
                                        <img src="~/images/icons/pen.svg" alt="">
                                        <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" alt="">
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-start gap-2 align-items-center">
                                        <div class="form-check">
                                            <input class="form-check-input inner_checkbox" type="checkbox" value=""
                                                id="flexCheckIndeterminate">
                                        </div>
                                        <img src="~/images/dining-menu.png" alt="" style="width: 25px;">
                                        <span>Cheese Sandwitch</span>
                                    </div>
                                </td>
                                <td><img src="~/images/icons/veg-icon.svg" alt="" srcset="" class="small-img">
                                </td>
                                <td>150</td>
                                <td>1</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start gap-5">
                                        <img src="~/images/icons/pen.svg" alt="">
                                        <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" alt="">
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-start gap-2 align-items-center">
                                        <div class="form-check">
                                            <input class="form-check-input inner_checkbox" type="checkbox" value=""
                                                id="flexCheckIndeterminate">
                                        </div>
                                        <img src="~/images/dining-menu.png" alt="" style="width: 25px;">
                                        <span>Alloo Sandwitch</span>
                                    </div>
                                </td>
                                <td><img src="~/images/icons/veg-icon.svg" alt="" srcset="" class="small-img">
                                </td>
                                <td>120</td>
                                <td>1</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start gap-5">
                                        <img src="~/images/icons/pen.svg" alt="">
                                        <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" alt="">
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-start gap-2 align-items-center">
                                        <div class="form-check">
                                            <input class="form-check-input inner_checkbox" type="checkbox" value=""
                                                id="flexCheckIndeterminate">
                                        </div>
                                        <img src="~/images/dining-menu.png" alt="" style="width: 25px;">
                                        <span>Black Bean Sandwitch</span>
                                    </div>
                                </td>
                                <td><img src="~/images/icons/veg-icon.svg" alt="" srcset="" class="small-img">
                                </td>
                                <td>100</td>
                                <td>1</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input toggle-btn" type="checkbox" role="switch"
                                            id="flexSwitchCheckDefault">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start gap-5">
                                        <img src="~/images/icons/pen.svg" alt="">
                                        <img src="~/images/icons/trash.svg" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" alt="">
                                    </div>

                                </td>
                            </tr>

                        </table>
                        <div
                            class="pagination-section d-flex justify-content-end align-items-center gap-2 overflow-auto w-100">
                            <div class="d-flex justify-content-md-end align-items-center gap-2 w-100">
                                <div>items per page: </div>
                                <div class="border p-2 px-3">5</div>
                                <div>showing 1 - 5 of 5</div>
                                <div class="border p-2 px-3">
                                    < </div>
                                        <div class="border p-2 px-3">></div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div>
                    helllo
                </div>
            </div>


        </div>

    </div>
    <!-- offcanvas body -->

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header align-items-center">
            <div class="sidebar-option">
                <a href="./superadmindashboard.html" class="sidebar-link">
                    <div class=" d-flex  justify-content-start align-items-center gap-3 mt-2">
                        <img src="~/images/logos/pizzashop_logo.png" alt="" class="w-25">
                        <h6 class="custom-skyblue">PIZZASHOP</h6>
                    </div>
                </a>
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="sidebar-options-list  d-flex flex-column align-items-start  gap-3 fw-medium">

                <div class="sidebar-option mt-3 w-100  p-2">
                    <a href="./superadmindashboard.html" class="sidebar-link">
                        <div class=" d-flex justify-content-start align-items-center gap-3">
                            <img src="~/images/sidebar icons/dashboard.png" alt="">
                            <div>Dashbaord</div>
                        </div>
                    </a>
                </div>
                <div class="sidebar-option w-100  p-2">
                    <a href="./Userlist.html" class="sidebar-link">
                        <div class=" d-flex justify-content-start align-items-center gap-3">
                            <img src="~/images/sidebar icons/users.png" alt="">
                            <div>Users</div>
                        </div>
                    </a>
                </div>
                <div class="sidebar-option w-100 p-2 ">
                    <a href="./roles.html" class="sidebar-link ">
                        <div class=" d-flex justify-content-start align-items-center gap-3">
                            <img src="~/images/sidebar icons/roles_permission.png" alt="">
                            <div>Roles and Permission</div>
                        </div>
                    </a>
                </div>
                <div class="sidebar-option w-100 p-2 active-option">
                    <a href="./Menu.html" class="sidebar-link active-option">
                        <div class=" d-flex justify-content-start align-items-center gap-3">
                            <img src="~/images/sidebar icons/menu.png" alt="">
                            <div>Menus</div>
                        </div>
                    </a>
                </div>
                <div class="sidebar-option w-100 p-2">
                    <a href="./superadmindashboard.html" class="sidebar-link">
                        <div class=" d-flex justify-content-start align-items-center gap-3">
                            <img src="~/images/sidebar icons/taxes.svg" alt="">
                            <div>Taxes and Fees</div>
                        </div>
                    </a>
                </div>
                <div class="sidebar-option w-100 p-2">
                    <a href="./superadmindashboard.html" class="sidebar-link">
                        <div class=" d-flex justify-content-start align-items-center gap-3">
                            <img src="~/images/sidebar icons/tables.svg" alt="">
                            <div>Table and Sections</div>
                        </div>
                    </a>
                </div>
                <div class="sidebar-option w-100 p-2">
                    <a href="./superadmindashboard.html" class="sidebar-link">
                        <div class=" d-flex justify-content-start align-items-center gap-3">
                            <img src="~/images/sidebar icons/orders.svg" alt="">
                            <div>Orders</div>
                        </div>
                    </a>
                </div>
                <div class="sidebar-option w-100 p-2">
                    <a href="./superadmindashboard.html" class="sidebar-link">
                        <div class=" d-flex justify-content-start align-items-center gap-3">
                            <img src="~/images/icons/customer.svg" alt="">
                            <div>Customers</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- category offcanvas -->

    <div class="offcanvas offcanvas-start" tabindex="-1" id="categoryoffcanvas" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header align-items-center">


            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class=" category-menu pt-3 ">
                <div class="d-flex justify-content-between align-items-center p-1">
                    <h5 class="custom-blue">Category</h5>
                    <div class="border border-primary custom-blue px-2 rounded" style="font-size: 20px;"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">+
                    </div>
                </div>
                <div class="d-flex flex-column p-2 mt-5 gap-4 fw-medium overflow-auto h-75">
                    <div
                        class="category-option d-flex justify-content-start align-items-center gap-2 category-active-option">

                        <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                        <div>Sandwitch</div>
                    </div>
                    <div class="category-option d-flex justify-content-start align-items-center gap-2">
                        <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                        <div>Pasta</div>
                    </div>


                    <div class="category-option d-flex justify-content-start align-items-center gap-2">
                        <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                        <div>Sides And Appetizers</div>
                    </div>


                    <div class="category-option d-flex justify-content-start align-items-center gap-2">
                        <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                        <div>Salads</div>
                    </div>


                    <div class="category-option d-flex justify-content-start align-items-center gap-2">
                        <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                        <div>Deeps And Sauces</div>
                    </div>


                    <div class="category-option d-flex justify-content-start align-items-center gap-2">
                        <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                        <div>Pizza</div>
                    </div>

                    <div class="category-option d-flex justify-content-start align-items-center gap-2">
                        <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                        <div>Desserts</div>
                    </div>


                    <div class="category-option d-flex justify-content-start align-items-center gap-2">
                        <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="">
                        <div>Burger</div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!-- add category modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="Menu" asp-controller="Menu" method="post">
                    <div class="modal-body">
                        <div class="d-flex flex-column">

                            <div class="mb-3">

                                <input type="text" class="form-control p-3" id="exampleFormControlInput1" name="Name"
                                    placeholder="Name">
                            </div>
                            <div class="mb-3">

                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Description" name="Description"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                </form>
            </div>
        </div>
    </div>


      @* ----------------modal body------------------- *@

    <div class="modal" tabindex="-1" id="deletecategorymodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Category?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteCategoryBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    @* -------------------------------------------------------------- *@


    @* edit category modal *@

     <div class="modal fade" id="editcategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">edit Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="Menu" asp-controller="Menu" method="post">
                    <div class="modal-body">
                        <div class="d-flex flex-column">
                            <input type="text" id="editid" name="Id" hidden>

                            <div class="mb-3">

                                <input type="text" class="form-control p-3" id="editformname" name="Name"
                                    placeholder="Name">
                            </div>
                            <div class="mb-3">

                                <textarea class="form-control" id="editformdescription" rows="3"
                                    placeholder="Description" name="Description"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn custom-btn-bg text-white fw-medium" id="editmodalbtn">Edit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>


<script>
    @* var categoryoption=document.getElementsByClassName("category-option");

    foreach(opt in categoryoption){
        opt.addeventlistner("click",(this)=>{
            
            console.log("hello");
        })
    } *@

    function setEditData(element){
        console.log("hello")
        var obj = element.getAttribute("obj");
        @* console.log(); *@
        var userId = element.getAttribute("data-id");
        var name =  element.getAttribute("data-name")
        var description = element.getAttribute("data-description");
        var editBtn = document.getElementById("editmodalbtn");
        document.getElementById("editid").value=userId;
        document.getElementById("editformname").value=name;
        document.getElementById("editformdescription").value=description;
        @* editBtn.href = '@Url.Action("Menu", "Menu")' + '?id=' + userId; *@
    }

    function setDeleteUserId(element) {
        var Id = element.getAttribute("data-id");
        var deleteBtn = document.getElementById("deleteCategoryBtn");
        deleteBtn.href = '@Url.Action("DeleteCategory", "Menu")' + '?id=' + Id;
    }
</script>