@* @model DAL.ViewModels.MenuViewModel; *@
@model DAL.ViewModels.OrderListPaginationViewModel

<table class="table">
    <tr>
        <th class="">
            <div class="d-flex justify-content-center">
                <span>Order</span>
                <div sortOrder=@(Model.SortColumn == "Order" && Model.SortOrder == "asc" ? "desc" : "asc")
                    sortColumn="Name"
                    onclick='OrderListPaginationAjax(@Model.Page.PageSize,@Model.Page.CurrentPage,"Order", "@(Model.SortColumn == "Order" && Model.SortOrder == "asc" ? "desc" : "asc")" )'>
                    <img src="~/images/icons/arrow-down-up.svg" class="mx-2" alt="">
                </div>
            </div>

        </th>
        <th class="">
            <div class="d-flex justify-content-center">
                <span>Date</span>
                <div sortOrder=@(Model.SortColumn == "Date" && Model.SortOrder == "asc" ? "desc" : "asc")
                    sortColumn="Name"
                    onclick='OrderListPaginationAjax(@Model.Page.PageSize,@Model.Page.CurrentPage,"Date", "@(Model.SortColumn == "Date" && Model.SortOrder == "asc" ? "desc" : "asc")" )'>
                    <img src="~/images/icons/arrow-down-up.svg" class="mx-2" alt="">
                </div>
            </div>

        </th>
        <th class="">
            <div class="d-flex justify-content-center">
                <span>Customer</span>
                <div sortOrder=@(Model.SortColumn == "Date" && Model.SortOrder == "asc" ? "desc" : "asc")
                    sortColumn="Name"
                    onclick='OrderListPaginationAjax(@Model.Page.PageSize,@Model.Page.CurrentPage,"Customer", "@(Model.SortColumn == "Customer" && Model.SortOrder == "asc" ? "desc" : "asc")" )'>
                    <img src="~/images/icons/arrow-down-up.svg" class="mx-2" alt="">
                </div>
            </div>

        </th>
        <th class="text-center">Status</th>
        <th class="text-center">Payment Mode</th>
        <th class="text-center">Rating</th>
        <th class="">
            <div class="d-flex justify-content-center">
                <span>Total Amount</span>
                <div sortOrder=@(Model.SortColumn == "Role" && Model.SortOrder == "asc" ? "desc" : "asc")
                    sortColumn="Role"
                    onclick='OrderListPaginationAjax(@Model.Page.PageSize,@Model.Page.CurrentPage,"TotalAmount", "@(Model.SortColumn == "TotalAmount" && Model.SortOrder == "asc" ? "desc" : "asc")" )'>
                    <img src="~/images/icons/arrow-down-up.svg" class="mx-2" alt="">
                </div>
            </div>
        </th>

        <th class="text-center">Action</th>
    </tr>


    @foreach (var u in Model.Items)
    {
        <tr>
            <td class="table-row text-center">#@u.OrderId</td>
            <td class="table-row text-center">@u.OrderDate</td>
            <td class="table-row text-center">@u.CustomerName</td>
            <td class="table-row text-center">@u.OrderStatus</td>
            <td class="table-row text-center">@u.PaymentMode</td>
            <td class="table-row text-center">
                @for (int i = 1; i <= u.Rating; i++)
                {
                    <i class="bi bi-star-fill text-warning"></i>
                }
                @for (int i = 5; i > u.Rating; i--)
                {
                    <i class="bi bi-star text-warning"></i>
                }
                @if (u.Rating == null)
                {
                    @for (int i = 1; i <= 5; i++)
                    {
                        <i class="bi bi-star text-secondary"></i>
                    }
                }
            </td>
            <td class="table-row text-center">@u.TotalAmount</td>
            <td class="table-row text-center">
                <div class="d-flex justify-content-center gap-5">
                            <a class="text-black" asp-controller="Order" asp-action="ExportToPdf" asp-route-id=@u.OrderId><i
                            class="bi bi-filetype-pdf"></i></a>
                            <a class="text-black" asp-action="OrderDetail" asp-controller="Order" asp-route-id=@u.OrderId>
                                <i class="bi bi-eye"  data-id="@u.OrderId"></i>
                            </a>
                    
                </div>
            </td>
        </tr>
    }


</table>
<div class="pagination-section d-flex justify-content-end align-items-center gap-2 overflow-auto w-100">
    <div class="d-flex justify-content-md-end align-items-center gap-2 w-100">
        <div>Items per page: </div>
        <select class="form-select" style="width:68px ;" aria-label="Default select example" id="pageSizeDropdownfor"
            onchange="OrderListPaginationAjax(this.value,1)">

            <option value=2 selected="@(Model.Page.PageSize == 2 ? true : false)">2</option>
            <option value=5 selected="@(Model.Page.PageSize == 5 ? true : false)">5</option>
            <option value=10 selected="@(Model.Page.PageSize == 10 ? true : false)">10</option>
        </select>
        <div>Showing @Model.Page.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecord</div>

        <div onclick="OrderListPaginationAjax(@Model.Page.PageSize,@Model.Page.CurrentPage-1)"
            class="text-black @( Model.Page.CurrentPage > 1? " " : "disabled-button")" style="text-decoration: none;">
            <div class="border p-2 px-3"> &lt; </div>
        </div>


        <div onclick="OrderListPaginationAjax(@Model.Page.PageSize, @Model.Page.CurrentPage+1)"
            class="text-black  @(Model.Page.CurrentPage < Model.Page.TotalPages ? " " : "disabled-button")"
            style="text-decoration: none;">
            <div class="border p-2 px-3">&gt;</div>
        </div>

    </div>
</div>
