@model DAL.ViewModels.UserListViewModel
@{
    var startIndex = (@Model.CurrentPage - 1) * @Model.PageSize + 1;
    ViewBag.active = "Users";
}




<div class="user-list-container p-3">
    <div class="head-section d-flex justify-content-between align-items-center">
        <h3 class="custom-blue d-none d-md-block">Users</h3>
        <div class="search-section d-flex gap-2">
            <div class="position-relative">
                <input type="text" class="p-2 w-100" placeholder="Search" id="user-search-field" value="@Model.SearchKeyword"
                    onchange="search()">
                <img src="~/images/icons/search.svg" alt="" class="searchicon-img" onclick="search()">
            </div>
            <a asp-action="AddUser" asp-controller="User"><button type="button"
                    class=" custom-btn-bg text-white p-2 border">+ Add
                    user</button></a>
                    
        </div>
    </div>

    <div class="table-section bg-white shadow bg-body-tertiary rounded table-responsive mt-5 p-2 user_list_section">

       @* Partial View Of User List Is Here  *@

    </div>

    @* ----------------modal body------------------- *@

    <div class="modal" tabindex="-1" id="deleteusermodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this user?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteUserBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    @* -------------------------------------------------------------- *@
</div>

<script>
    @* function changePageSize() {
        var pageSize = document.getElementById("pageSizeDropdown").value;
        var currentPage = @Model.CurrentPage;
        window.location.href = '@Url.Action("GetUserList", "User")' + '?pageNumber=' + currentPage + '&pageSize=' + pageSize + '&searchKeyword=' + '@Model.SearchKeyword';
    }

    function search() {
        var search_keyword = document.getElementById("search-field").value;
        var pageSize = document.getElementById("pageSizeDropdown").value;
        window.location.href = '@Url.Action("GetUserList", "User")' + '?searchKeyword=' + search_keyword + '&pageSize=' + pageSize;
    } *@

    function setDeleteUserId(element) {
        var userId = element.getAttribute("data-id");
        var deleteBtn = document.getElementById("deleteUserBtn");
        deleteBtn.href = '@Url.Action("DeleteUser", "User")' + '?id=' + userId;
    }
    document.getElementById("search-field").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            search();
        }
    });


    $(document).ready(function()
    {
        console.log("tax doc is ready!")
        UserListPaginationAjax();
    })

    function UserListPaginationAjax(pageSize,pageNumber,sortColumn,sortOrder) {

    let id= $("#section-list .category-active-option").attr("section-id");

    let searchkeyword = $("#user-search-field").val();

        $.ajax({
            url: "/User/UserListPV",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber,'searchKeyword':searchkeyword,'sortColumn':sortColumn,'sortOrder':sortOrder},
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#user_list_section").html(data);
                @* onPartialViewLoaded();  *@
            },
            error: function () {
                $("#user_list_section").html('An error has occurred');
            }
        });
    }

     document.getElementById("user-search-field").addEventListener('keyup',()=>{ 
        UserListPaginationAjax();
    })
</script>
