@model DAL.ViewModels.DashboardViewModel
@{
    var totalSeconds = (int)Model.AverageWaitingTime;
    var hours = totalSeconds / 3600;
    var minutes = (totalSeconds % 3600) / 60;
    var ct = 1;
}

<div class="container-fluid mt-3">
    <div class="row gx-4 ">
        <div class="col-12 mt-2 col-sm-6 col-lg-3">
            <div class="bg-white shadow rounded p-2 h-100">
                <div class="d-flex justify-content-end ">
                    <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                        style="border: 1px solid rgb(93, 214, 93);">
                        <div class="dashboard-icon d-flex justify-content-center align-items-center"
                            style="background-color: rgb(93, 214, 93);">
                            <img src="~/images/icons/total-sales.svg" height="20" width="20" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <h2 class="text-left"> &#x20b9; @Model.TotalSales</h2>
                </div>
                <div class="d-flex justify-content-start">
                    <span>Total Sales</span>
                </div>
            </div>

        </div>

        <div class="col-12 mt-2 col-sm-6 col-lg-3">
            <div class="bg-white shadow rounded p-2 h-100">
                <div class="d-flex justify-content-end">
                    <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                        style="border: 1px solid rgb(255, 118, 255);">
                        <div class="dashboard-icon d-flex justify-content-center align-items-center"
                            style="background-color: rgb(255, 118, 255);">
                            <img src="~/images/icons/total-orders.svg" height="20" width="20" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <h2 class="text-left"> @Model.TotalOrders</h2>
                </div>
                <div class="d-flex justify-content-start">
                    <span>Total Orders</span>
                </div>
            </div>

        </div>

        <div class="col-12 mt-2 col-sm-6 col-lg-3 ">
            <div class="bg-white shadow rounded p-2 h-100">
                <div class="d-flex justify-content-end">
                    <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                        style="border: 1px solid rgb(180, 180, 180);">
                        <div class="dashboard-icon d-flex justify-content-center align-items-center"
                            style="background-color: rgb(180, 180, 180);">
                            <img src="~/images/icons/total-orders.svg" height="20" width="20" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <h2 class="text-left"> &#x20b9; @(Model.AverageOrderValue.ToString("f2"))</h2>
                </div>
                <div class="d-flex justify-content-start">
                    <span>Avg Order Value</span>
                </div>
            </div>

        </div>

        <div class="col-12 mt-2 col-sm-6 col-lg-3">
            <div class="bg-white shadow rounded p-2 h-100">
                <div class="d-flex justify-content-end">
                    <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                        style="border: 1px solid rgb(255, 118, 64);">
                        <div class="dashboard-icon d-flex justify-content-center align-items-center"
                            style="background-color: rgb(255, 118, 64);">
                            <img src="~/images/icons/waiting-time.svg" height="20" width="20" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <h2 class="text-left"> @($"{hours} h {minutes} min")</h2>
                </div>
                <div class="d-flex justify-content-start">
                    <span>Avg Waiting Time</span>
                </div>
            </div>

        </div>
    </div>

    <div class="row gx-4 mt-4">
        <div class="col mt-2">
            <div class="d-flex flex-column bg-white shadow rounded p-2 h-100">
                <h4>Revenue</h4>
                <div class="chart">
                    <canvas id="revenueChart" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="d-flex flex-column bg-white shadow rounded p-2 h-100">
                <h4>Customer Growth</h4>
                <div class="chart">
                    <canvas id="customerGrowthChart" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex mt-4">
        <div class="col-12 mt-2 col-sm-6 col-lg-3">
            <div class="d-flex flex-column bg-white shadow rounded p-2 overflow-auto" style="height: 200px;">
                <h4>Top Selling Items</h4>
                <div style="height: 180px;" class="overflow-auto">
                    @for (var i = 0; i < Model.SellingItems.Count; i++)
                    {
                        var item = Model.SellingItems[i];

                         if (item.TotalOrder != 0)
                        {
                            <div class="d-flex justify-content-start align-items-center">
                                <span># @(i+1)</span>
                                
                                <img src="~/images/dining-menu.png" alt="" height="30" width="30">
                                <div class="d-flex flex-column">
                                    <span>@item.ItemName</span>
                                    <div class="d-flex">
                                        <img src="~/images/sidebar icons/menu.png" alt="" width="20" height="20">
                                        @item.TotalOrder
                                        Order
                                    </div>
                                </div>
                            </div>
                            <hr>
                        }


                    }
                </div>



            </div>
        </div>
        <div class="col-12 mt-2 col-sm-6 col-lg-3">
            <div class="d-flex flex-column bg-white shadow rounded p-2 overflow-auto" style="height: 200px;">
                <h4>Least Selling Items</h4>

                <div class="overflow-auto" style="height: 180px;">
                    @for (var i = Model.SellingItems.Count - 1; i >= 0; i--)
                    {
                        var item = Model.SellingItems[i];

                        if (item.TotalOrder != 0)
                        {
                            <div class="d-flex justify-content-start align-items-center">
                                <span># @ct</span>
                                @{
                                    ct++;
                                }
                                <img src="~/images/dining-menu.png" alt="" height="30" width="30">
                                <div class="d-flex flex-column">
                                    <span>@item.ItemName</span>
                                    <div class="d-flex">
                                        <img src="~/images/sidebar icons/menu.png" alt="" width="20" height="20">
                                        @item.TotalOrder
                                        Order
                                    </div>
                                </div>
                            </div>
                            <hr>
                        }
                    }
                </div>

            </div>
        </div>
        <div class="col-12 mt-2 col-sm-6 col-lg-3">
            <div class="bg-white shadow rounded p-2  h-100 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-end">
                    <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                        style="border: 1px solid orange;">
                        <div class="dashboard-icon d-flex justify-content-center align-items-center"
                            style="background-color: orange;">
                            <img src="~/images/icons/waiting-list.svg" height="20" width="20" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-start">
                        <h2 class="text-left">@Model.WaitingListCount</h2>
                    </div>
                    <div class="d-flex justify-content-start">
                        <span>Waiting List Count</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 mt-2 col-sm-6 col-lg-3">
            <div class="bg-white shadow rounded p-2  h-100 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-end">
                    <div class="p-2 d-flex justify-content-center align-items-center dashboard-icon-outer rounded-circle"
                        style="border: 1px solid orange;">
                        <div class="dashboard-icon d-flex justify-content-center align-items-center"
                            style="background-color: orange;">
                            <img src="~/images/icons/waiting-list.svg" height="20" width="20" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-start">
                        <h2 class="text-left">@Model.NewCustomerCount</h2>
                    </div>
                    <div class="d-flex justify-content-start">
                        <span>New Customer</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    function alignData(dates, dataList) {
        const combinedData = {};

        // Flatten all dictionaries into one object
        dataList.forEach(dict => {
            Object.entries(dict).forEach(([key, value]) => {
                combinedData[key] = value;
            });
        });

        // Map values in order of dates; put 0 if missing
        return dates.map(date => combinedData[date] || 0);
    }
    $(document).ready(function () {

        var dates = @Html.Raw(Json.Serialize(Model.Dates));

        var revenueList = @Html.Raw(Json.Serialize(
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Model.RevenueList.Select(x => x.Value).ToList()
                        ));

        var customerGrowthList = @Html.Raw(Json.Serialize(
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Model.CustomerGrowthCount.Select(x => x.Value).ToList()
                        ));

        console.log("hello", revenueList);
        @* const revenueData = alignData(dates, revenueList);

        const customerGrowthData = alignData(dates, customerGrowthList); *@


        const revenueCtx = document.getElementById("revenueChart").getContext("2d");

        new Chart(revenueCtx, {
            type: "line",
            data: {
                labels: dates,
                datasets: [{
                    label: "Revenue (₹)",
                    data: revenueList,
                    backgroundColor: "rgba(75, 192, 192, 0.2)",
                    borderColor: "rgba(75, 192, 192, 1)",
                    borderWidth: 2,
                    fill: true,
                    tension: 0.3
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: "Date"
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: "Revenue (₹)"
                        }
                    }
                }
            }
        });


        const growthCtx = document.getElementById("customerGrowthChart").getContext("2d");

        new Chart(growthCtx, {
            type: "line",
            data: {
                labels: dates,
                datasets: [{
                    label: "Customer Growth",
                    data: customerGrowthList,
                    backgroundColor: "rgba(54, 162, 235, 0.2)",
                    borderColor: "rgba(54, 162, 235, 1)",
                    borderWidth: 2,
                    fill: true,
                    tension: 0.4
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: "Date"
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    })
</script>