@model List<DAL.ViewModels.OrderAppMenuItemViewModel>

@foreach (var i in Model)
{
    <div class="card position-relative"
        style="width: 300px; border-radius: 10px; overflow: hidden; height: 78px !important;" item-id="@i.ItemId"
        onclick="openSelectModifierItemModal(@i.ItemId)">
        <!-- Stripe -->
        <div class="top-right-stripe" style="background-color: @(i.Type == "Veg" ? "var(--veg)" : "var(--nonveg)");"></div>
        <!-- Card Content -->
        <div class="d-flex">
            <div class="flex-shrink-0 p-1 shadow-sm border rounded ">
             
                <img src="@(i.Image!=null?i.Image:"~/images/dining-menu.png")" alt="" height="65" width="65" style="object-fit:cover">

            </div>

            <div class="d-flex flex-column flex-grow-1 py-1 px-2 justify-content-between">
                <div style="font-weight: 500;">@i.ItemName</div>
                <div class="d-flex justify-content-between">
                    <span>₹ @i.Rate</span>
                    <div onclick="ChangeItemFavouriteState(@i.ItemId,event)" class="z-3">
                        @if (i.Isfavourite)
                        {
                            <i class="bi bi-heart-fill custom-blue"></i>
                        }
                        else
                        {
                            <i class="bi bi-heart custom-blue"></i>
                            
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}