@model DAL.ViewModels.SectionNameListViewModel



 @* category list  *@
@foreach (var c in Model.Sections)
{
        <div
            class="category-option d-flex justify-content-between align-items-center gap-2 @(Model.SelectedSection == c.SectionId ? "category-active-option" : "")" id="category_option" section-id="@c.SectionId" >
            <div class="d-flex gap-2" style="cursor: pointer;" onclick="loadsection('@c.SectionId')"  section-id="@c.SectionId"> 
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="" class="category-option-img ">
                <div>@c.SectionName</div>
            </div>
       
            <div class="d-flex justify-content-between gap-3 d-none" id="categoryoption_actionbtn">
          
                <img src="~/images/icons/pen.svg" alt="" data-bs-toggle="modal" data-bs-target="#Editsectionmodal" onclick="setEditSectionData(this)" item-obj='@Html.Raw(Json.Serialize(c))'>
            
                <img src="~/images/icons/trash.svg" data-bs-toggle="modal" id="deletesectionBtn"
                    data-bs-target="#deletesectionmodal" onclick="setDeleteSectionId(this)"  section-id="@c.SectionId"
                    alt="">
            </div>
        </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    attachHoverEffect(); // Call the function when the page loads
});

// Function to handle hover effect
function attachHoverEffect() {
    document.querySelectorAll(".category-option").forEach(opt => {
        opt.addEventListener("mouseover", function () {
            console.log("Mouse Entered");
            let actionbtn = opt.querySelector("#categoryoption_actionbtn");
            if (actionbtn) {
                actionbtn.classList.add("d-block");
                actionbtn.classList.remove("d-none");
            }
        });

        opt.addEventListener("mouseleave", function () {
            let actionbtn = opt.querySelector("#categoryoption_actionbtn");
            if (actionbtn) {
                actionbtn.classList.remove("d-block");
                actionbtn.classList.add("d-none");
            }
        });
    });
}

// If the partial view is loaded dynamically, reattach events
$(document).on("ajaxComplete", function () {
    attachHoverEffect();
});



</script>
                  

       