@model DAL.ViewModels.SectionAndTableViewModel
<div class="Menu-container p-3">

    <h3 class="custom-blue">Sections/Tables</h3>

    @* category list for samll screen *@

    <div class="CategoryForSmallScreen d-lg-none bg-white mt-2 p-2 ">

       
        <div class="d-flex justify-content-between align-items-center p-1">
            <h5 class="custom-blue">Section</h5>
            <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;" data-bs-toggle="modal"
                data-bs-target="#Addsectionmodal">+
            </div>
        </div>
        <div class="d-flex flex-column p-2 gap-4 fw-medium overflow-auto h-100" id="section-list-for-smallscreen">
           
             @* -------partial view here of section list-------- *@

        </div>
    </div>

 
    <div class=" bg-white mt-2 bg-white position-relative  " style="height: fit-content;">

        @* ----first tab------- *@

        <div class=" w-100" >
            <div class="d-flex w-100">
                <div class=" category-menu border-0 pt-3 d-none d-lg-block" id="category-menu">
                    <div class="d-flex justify-content-between align-items-center p-1">
                        <h5 class="custom-blue">Section</h5>
                        <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;"
                            data-bs-toggle="modal" data-bs-target="#Addsectionmodal">+
                        </div>
                    </div>
                    <div class="d-flex flex-column p-2 mt-5 gap-4 fw-medium overflow-auto h-75" id="section-list">

                        @* -------partial view here of section list-------- *@
  
                    </div>

                </div>
                <div class="d-flex flex-column flex-grow-1 pt-3 px-3 w-100 ">
                    <div class="d-flex justify-content-between">
                        <h5 class="custom-blue">Tables</h5>
                    </div>
                    <div
                        class="search-delete-section d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="search-section d-flex gap-2 ">
                            <div class="position-relative" style="width: 180px;">
                                <input type="text" class="p-2 w-100" placeholder="Search" id="tableitem-search-field">
                                <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                            </div>
                            @if(ViewBag.CanTableAndSectionDelete)
                            {
                            <div class="d-flex justify-content-center align-items-center w-auto border rounded px-3 " style="cursor: pointer;"  onclick="openMassDeleteModalForTable()" id="DeleteTables">
                                <img src="~/images/icons/trash.svg" alt="" srcset="" style="width: 20px;"
                                    class="small-img" >
                            </div>
                            }
                           
                            <button type="button" class=" custom-btn-bg text-white p-2 border d-none d-md-block" onclick="openAddTableModal()"><span
                                    class="fs-5 fw-semibold" >+</span> New Item</button>
                            <button type="button"
                                class=" custom-btn-bg text-white px-3 border fs-5 fw-bold d-md-none">+</button>
                        </div>
                    </div>
                    <div class="table-section bg-white table-responsive mt-5 ms-2 me-2" id="diningtablelistcontainer">
                       
                    </div> 
                   
                </div>

            </div>
 
        </div>
     
</div>



@*============= Modals ========== *@

<!-- add Section modal -->
    <div class="modal fade" id="Addsectionmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Section</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addsectionform" method="post">
                    <div class="modal-body">

                        <div class="d-flex flex-column">
                             
                            <div class="mb-3">

                                <input type="text" class="form-control p-3" id="addsectionname" asp-for="Section.SectionName"
                                    placeholder="Name">
                            </div>
                            <span class="text-danger" asp-validation-for="Section.SectionName"></span>
                            <div class="mb-3">

                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Description" asp-for="Section.Description"></textarea>
                            </div>
                                    <span class="text-danger" asp-validation-for="Section.Description"></span>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- edit Section modal -->
    <div class="modal fade" id="Editsectionmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Section</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  method="post" id="editsectionform">
                    <div class="modal-body">
                        <div class="d-flex flex-column">
                            <input type="text"  id="Sectionid" asp-for="Section.Sectionid"
                                   hidden>
                            <div class="mb-3">

                                <input type="text" class="form-control p-3" id="SectionNameforedit" asp-for="Section.SectionName"
                                    placeholder="Name">
                            </div>
                            <span class="text-danger" asp-validation-for="Section.SectionName"></span>
                            <div class="mb-3">

                                <textarea class="form-control" id="Description" rows="3"
                                    placeholder="Description" asp-for="Section.Description"></textarea>
                            </div>
                            <span class="text-danger" asp-validation-for="Section.Description"></span>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Delete Section Modal *@

    <div class="modal" tabindex="-1" id="deletesectionmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Section?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteSectionBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

<!-- Edit Table modal -->
    <div class="modal fade" id="EditTablemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Table</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="EditTableform" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="TableidForEdit" asp-for="Table.TableId" hidden>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="NameofTableforedit" asp-for="Table.Name">
                                <label for="NameofTable">Name</label>
                                <span class="text-danger" asp-validation-for="Table.Name"></span>
                            </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <select class="form-select disabled-toggle " id="sectionidforedit"  asp-for="Table.SectionId">
                                    @foreach(var c in Model.Sections){ 
                                     if(c.SectionId==Model.SelectedSection)
                                     {

                                    <option value="@c.SectionId" selected>@c.SectionName</option>
                                     }
                                     else
                                     {
                                    <option value="@c.SectionId">@c.SectionName</option>
                                     }
                                    }
                                    </select>
                                    <label for="statusoftable">Section</label>
                                    <span class="text-danger" asp-validation-for="Table.SectionId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="capacityoftableforedit" asp-for="Table.Capacity" >
                                <label for="floatingInput">Capacity</label>
                                <span class="text-danger" asp-validation-for="Table.Capacity"></span>
                            </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select disabled-toggle " id="statusoftableforedit"  asp-for="Table.Status">
                                     @foreach(var s in Model.TableStatus){ 
                                     if(s.Id == 1)
                                     {
                                    <option value="@s.Id" selected>@s.Statusname</option>
                                     }
                                     else
                                     {
                                        <option value="@s.Id">@s.Statusname</option>
                                     }
                                    
                                     
                                    }
                                    </select>
                                    <label for="statusoftable">Status</label>
                                    <span class="text-danger" asp-validation-for="Table.Status"></span>
                                </div>
                            </div>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- add Table modal -->
    <div class="modal fade" id="AddTablemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Table</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form  method="post" id="addtableform">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="NameofTable" asp-for="Table.Name" placeholder="tablename">
                                <label for="NameofTable">Name</label>
                                <span class="text-danger" asp-validation-for="Table.Name"></span>
                            </div>
                            </div> 
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="sectionoftable"  asp-for="Table.SectionId">
                                        <option value="">Select section</option>
                                    @foreach(var c in Model.Sections){ 
                                     
                                    <option value="@c.SectionId">@c.SectionName</option>
                                     
                                    }
                                    </select>
                                    <label for="sectionoftable">Section</label>
                                     <span class="text-danger" asp-validation-for="Table.SectionId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="capacityoftable" asp-for="Table.Capacity" >
                                <label for="capacityoftable">Capacity</label>
                                <span class="text-danger" asp-validation-for="Table.Capacity"></span>

                            </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select disabled-toggle " id="statusoftable"  asp-for="Table.Status">
                                     @foreach(var s in Model.TableStatus){ 
                                     if(s.Id == 1)
                                     {
                                    <option value="@s.Id" selected>@s.Statusname</option>
                                     }
                                     else
                                     {
                                        <option value="@s.Id">@s.Statusname</option>
                                     }
                                    
                                     
                                    }
                                    </select>
                                    <label for="statusoftable">Status</label>
                                    <span class="text-danger" asp-validation-for="Table.Status"></span>
                                </div>
                            </div>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Delete Table Modal *@

    <div class="modal" tabindex="-1" id="deletetablemodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Table?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteTableBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    @* Delete multiple Table Modal *@

    <div class="modal" tabindex="-1" id="deletemultipletablemodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Table?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deletemultipleTableBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

@* ============================== *@
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>  *@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/Section/TableItem.js"></script>


<script>

    $(document).ready(function()
    {
        loadsection();
        TableListPaginationAjax();

    // add section form submission
    $("#addsectionform").submit(function (event) {
    event.preventDefault(); // Prevent the default form submission

    if (!validateAddSectionForm()) {
      return;
    }

    // Create FormData object from the form
    var formData = new FormData(this);

    $.ajax({
      url: "/Section/AddSection", // URL from the form's action attribute
      type: "POST", // Form method
      data: formData, // Form data
      processData: false, // Important: prevent jQuery from processing the data
      contentType: false, // Important: prevent jQuery from setting content type
      success: function (response) {
        var Modal = bootstrap.Modal.getInstance(
          document.getElementById("Addsectionmodal")
        );
        Modal.hide();

        if (response.success) {
          //get the active category id
          let id = $("#section-list .category-active-option").attr(
            "section-id"
          );
          loadsection(id);
          toastr.success(response.message);
        } else {
          toastr.error(response.message);
        }
      },
      error: function (xhr, status, error) {
        toastr.error(error);
      },
    });
  });

    // validation for add section
  function validateAddSectionForm() {
    const name = $("#addsectionname").val().trim();

    if (name === "") {
      return false;
    } else {
      return true;
    }
  }
    })
    // edit section form submission
    $("#editsectionform").submit(function (event) {
    event.preventDefault(); // Prevent the default form submission

    if (!validateEditSectionForm()) {
      return;
    }

    // Create FormData object from the form
    var formData = new FormData(this);

    $.ajax({
      url: "/Section/EditSection", // URL from the form's action attribute
      type: "POST", // Form method
      data: formData, // Form data
      processData: false, // Important: prevent jQuery from processing the data
      contentType: false, // Important: prevent jQuery from setting content type
      success: function (response) {
        var Modal = bootstrap.Modal.getInstance(
          document.getElementById("Editsectionmodal")
        );
        Modal.hide();

        if (response.success) {
          //get the active category id
          let id = $("#section-list .category-active-option").attr(
            "section-id"
          );
          loadsection(id);
          toastr.success(response.message);
        } else {
          toastr.error(response.message);
        }
      },
      error: function (xhr, status, error) {
        toastr.error(error);
      },
    });
  });

    // validation for edit section
  function validateEditSectionForm() {
    const name = $("#SectionNameforedit").val().trim();

    if (name === "") {
      return false;
    } else {
      return true;
    }
  }
    
    // delete section 

 

  $("#deleteSectionBtn").click(function (e) {
    var id = $(this).attr("section-id");
    $.ajax({
      url: "/Section/DeleteSection",
      method: "POST",
      data: {
        id: id,
      },
      success: function (response) {
        // close the opened delete modal

        var deleteModal = bootstrap.Modal.getInstance(
          document.getElementById("deletesectionmodal")
        );
        deleteModal.hide();

        if (response.success) {
          //get the active category id
          let secid = $("#section-list .category-active-option").attr(
            "section-id"
          );
          secid == id ? loadsection() : loadsection(secid); // if current section is deleted than by default select first section

          toastr.success(response.message);
        } else {
          toastr.error(response.message);
        }
      },
      error: function (xhr, status, error) {
        console.error("Error deleting items:", error);
      },
    });
  });

    @* Pagination section *@

    @* -----Pagination For Menu Items List------- *@

function TableListPaginationAjax(pageSize,pageNumber,sectionid) {
     // Get the dropdown element

    let id= $("#section-list .category-active-option").attr("section-id");
    let searchkeyword = $("#tableitem-search-field").val();
       
        $.ajax({
            url: "/Section/GetDiningTableList",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber,'searchKeyword':searchkeyword,'id':id},
            type: "GET",
            dataType: "html",
            success: function (data) {
                $('#diningtablelistcontainer').html(data);
                attachMassDeleteForTable();
            },
            error: function () {
                $("#diningtablelistcontainer").html('An error has occurred');
            }
        });
    }

    document.getElementById("tableitem-search-field").addEventListener('keyup',()=>{
        console.log("hello")
        TableListPaginationAjax();
    })

    @* Load Sections List *@

    function loadsection(id)
    {
    
    @* var id = ele?.getAttribute("section-id"); *@


        $.ajax({
            type:"GET",
            url:"/Section/GetSections", 
            data:{id : id},
            success:function(data)
            {
                $('#section-list').html(data);
                $('#section-list-for-smallscreen').html(data);
            }

        });

        $.ajax({
            url: '@Url.Action("GetDiningTableList", "Section")',
            type: 'GET',
            data: {id:id},
            success: function (data) {
                $('#diningtablelistcontainer').html(data);
                attachMassDeleteForTable();
            }
        });
    }


    //load tables  partial view

    function loadTables(id) {
         $.ajax({
            url: '@Url.Action("GetDiningTableList", "Section")',
            type: 'GET',
            data: {id:id},
            success: function (data) {
                $('#diningtablelistcontainer').html(data);
                attachMassDeleteForTable();
            }
        });
    }
    @* set edit data for section *@

    function setEditSectionData(ele)
    {

    var c = JSON.parse(ele.getAttribute("item-obj"));
    console.log(c);

    var editsectionitem= document.getElementById("Editsectionmodal");
    editsectionitem.querySelector("#Sectionid").value = c.sectionId;
    editsectionitem.querySelector("#SectionNameforedit").value = c.sectionName;
    editsectionitem.querySelector("#Description").value = c.description;
    }

    @* set delete data for section *@

    function setDeleteSectionId(element) {
        var Id = element.getAttribute("section-id");
        var deleteBtn = document.getElementById("deleteSectionBtn");
        deleteBtn.setAttribute("section-id", Id);
    }

    @* set edit data for table *@

    function setEditTabledata(ele)
    {

    var c = JSON.parse(ele.getAttribute("item-obj"));
    console.log(c);

    var editsectionitem= document.getElementById("EditTablemodal");
  
    editsectionitem.querySelector("#NameofTableforedit").value = c.name;
    editsectionitem.querySelector("#TableidForEdit").value = c.tableId;
    editsectionitem.querySelector("#capacityoftableforedit").value = c.capacity;
    $.ajax({
        url: "/Section/GetStatusIdByName", // URL from the form's action attribute
        type: "Get", // Form method
        data:{name:c.status},
        success: function (data) {
            console.log("venil",data)
            editsectionitem.querySelector("#statusoftableforedit").value = data.statusId;
        },
        
    });
    editsectionitem.querySelector("#statusoftableforedit").value = c.status;
    editsectionitem.querySelector("#sectionidforedit").value = c.sectionId;
    }


$("#Addsectionmodal").on("hidden.bs.modal", function () {
  console.log("hii")

});

   


</script>