@model DAL.ViewModels.SectionAndTableViewModel
<div class="Menu-container p-3">

    <h3 class="custom-blue">Sections/Tables</h3>

    @* category list for samll screen *@

    <div class="CategoryForSmallScreen d-lg-none bg-white mt-2 p-2 ">

       
        <div class="d-flex justify-content-between align-items-center p-1">
            <h5 class="custom-blue">Section</h5>
            <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;" onclick="openAddEditSectionForm()">+
            </div>
        </div>
        <div class="d-flex flex-column p-2 gap-4 fw-medium overflow-auto h-100" id="section-list-for-smallscreen">
           
             @* -------partial view here of section list-------- *@

        </div>
    </div>

 
    <div class=" bg-white mt-2 bg-white position-relative  " style="height: fit-content;"> 

        @* ----first tab------- *@

        <div class=" w-100" >
            <div class="d-flex w-100" style="height: 500px;">
                <div class=" category-menu border-0 pt-3 d-none d-lg-block" id="category-menu">
                    <div class="d-flex justify-content-between align-items-center p-1">
                        <h5 class="custom-blue">Section</h5>
                        <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;"
                            onclick="openAddEditSectionForm()">+
                        </div>
                    </div>
                    <div class="d-flex flex-column p-2 mt-5 gap-4 fw-medium overflow-auto h-75" id="section-list">

                        @* -------partial view here of section list-------- *@
  
                    </div>

                </div>
                <div class="d-flex flex-column flex-grow-1 pt-3 px-3 w-100 ">
                    <div class="d-flex justify-content-between">
                        <h5 class="custom-blue">Tables</h5>
                    </div>
                    <div
                        class="search-delete-section d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="search-section d-flex gap-2 ">
                            <div class="position-relative" style="width: 180px;">
                                <input type="text" class="p-2 w-100" placeholder="Search" id="tableitem-search-field">
                                <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                            </div>
                            @if(ViewBag.CanTableAndSectionDelete)
                            {
                            <div class="d-flex justify-content-center align-items-center w-auto border rounded px-3 " style="cursor: pointer;"  onclick="openMassDeleteModalForTable()" id="DeleteTables">
                                <img src="~/images/icons/trash.svg" alt="" srcset="" style="width: 20px;"
                                    class="small-img" >
                            </div>
                            }
                           
                            <button type="button" class=" custom-btn-bg text-white p-2 border d-none d-md-block" onclick="openAddEditTableForm()"><span
                                    class="fs-5 fw-semibold" >+</span> New Table</button>
                            <button type="button"
                                class=" custom-btn-bg text-white px-3 border fs-5 fw-bold d-md-none" onclick="openAddEditTableForm()">+</button>
                        </div>
                    </div>
                    <div class="table-section bg-white table-responsive mt-5 ms-2 me-2" id="diningtablelistcontainer">
                       
                    </div> 
                   
                </div>

            </div>
 
        </div>
     
</div>



@*============= Modals ========== *@

<!-- add Section modal -->
    <div class="modal fade" id="Addsectionmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Section</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addsectionform">
                    <div class="modal-body">

                        <div class="d-flex flex-column">
                             
                            <div class="mb-3">

                                <input type="text" class="form-control p-3" id="addsectionname" name="Section.SectionName"
                                    placeholder="Name">
                            </div>
                            @* <span class="text-danger" asp-validation-for="Section.SectionName"></span> *@
                            <div class="mb-3">

                                <textarea class="form-control" rows="3"
                                    placeholder="Description" name="Section.Description"></textarea>
                            </div>
                                    @* <span class="text-danger" asp-validation-for="Section.Description"></span> *@
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- edit Section modal -->
    <div class="modal fade" id="Editsectionmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Section</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  method="post" id="editsectionform">
                    <div class="modal-body">
                        <div class="d-flex flex-column">
                            <input type="text"  id="Sectionid" asp-for="Section.Sectionid"
                                   hidden>
                            <div class="mb-3">

                                <input type="text" class="form-control p-3" id="SectionNameforedit" asp-for="Section.SectionName"
                                    placeholder="Name">
                            </div>
                            <span class="text-danger" asp-validation-for="Section.SectionName"></span>
                            <div class="mb-3">

                                <textarea class="form-control" id="Description" rows="3"
                                    placeholder="Description" asp-for="Section.Description"></textarea>
                            </div>
                            <span class="text-danger" asp-validation-for="Section.Description"></span>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--ADD EDIT Section modal -->
    <div class="modal fade" id="AddEditSectionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100" id="AddEditSectionModalContent">
                
            </div>
        </div>
    </div>

    @* Delete Section Modal *@

    <div class="modal" tabindex="-1" id="deletesectionmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Section?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteSectionBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

<!-- Edit Table modal -->
    <div class="modal fade" id="EditTablemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Table</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="EditTableform" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="TableidForEdit" name="Table.TableId" hidden>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="NameofTableforedit" name="Table.Name">
                                <label for="NameofTable">Name</label>
                                @* <span class="text-danger" asp-validation-for="Table.Name"></span> *@
                            </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <select class="form-select disabled-toggle " id="sectionidforedit"  name="Table.SectionId">
                                    @* @foreach(var c in Model.Sections){ 
                                     if(c.SectionId==Model.SelectedSection)
                                     {

                                    <option value="@c.SectionId" selected>@c.SectionName</option>
                                     }
                                     else
                                     {
                                    <option value="@c.SectionId">@c.SectionName</option>
                                     }
                                    } *@
                                    </select>
                                    <label for="statusoftable">Section</label>
                                    @* <span class="text-danger" asp-validation-for="Table.SectionId"></span> *@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="capacityoftableforedit" name="Table.Capacity" >
                                <label for="floatingInput">Capacity</label>
                                @* <span class="text-danger" asp-validation-for="Table.Capacity"></span> *@
                            </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select disabled-toggle " id="statusoftableforedit"  name="Table.Status">
                                     @foreach(var s in Model.TableStatus){ 
                                     if(s.Id == 1)
                                     {
                                    <option value="@s.Id" selected>@s.Statusname</option>
                                     }
                                     else
                                     {
                                        <option value="@s.Id">@s.Statusname</option>
                                     }
                                    
                                     
                                    }
                                    </select>
                                    <label for="statusoftable">Status</label>
                                    @* <span class="text-danger" asp-validation-for="Table.Status"></span> *@
                                </div>
                            </div>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--Add Edit Table modal -->
    <div class="modal fade" id="AddEditTableModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100" id="AddEditTableModalContent">
                @* Partial View Of Add Edit Form *@
            </div>
        </div>
    </div>

<!-- add Table modal -->
    <div class="modal fade" id="AddTablemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Table</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form  method="post" id="addtableform">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="NameofTable" name="Table.Name" placeholder="tablename">
                                <label for="NameofTable">Name</label>
                                @* <span class="text-danger" asp-validation-for="Table.Name"></span> *@
                            </div>
                            </div> 
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="sectionoftable"  name="Table.SectionId">
                                        <option value="">Select section</option>
                                    @* @foreach(var c in Model.Sections){ 
                                     
                                    <option value="@c.SectionId">@c.SectionName</option>
                                     
                                    } *@
                                    </select>
                                    <label for="sectionoftable">Section</label>
                                     @* <span class="text-danger" asp-validation-for="Table.SectionId"></span> *@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="capacityoftable" name="Table.Capacity" placeholder="Capacity" >
                                <label for="capacityoftable">Capacity</label>
                                @* <span class="text-danger" asp-validation-for="Table.Capacity"></span> *@

                            </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select disabled-toggle " id="statusoftable"  name="Table.Status">
                                     @foreach(var s in Model.TableStatus){ 
                                     if(s.Id == 1)
                                     {
                                    <option value="@s.Id" selected>@s.Statusname</option>
                                     }
                                     else
                                     {
                                        <option value="@s.Id">@s.Statusname</option>
                                     }
                                    
                                     
                                    }
                                    </select>
                                    <label for="statusoftable">Status</label>
                                    @* <span class="text-danger" asp-validation-for="Table.Status"></span> *@
                                </div>
                            </div>
                        </div>
                         <div class="d-flex justify-content-end gap-2 p-2">
                            <button type="submit" class="btn custom-btn-bg text-white fw-medium">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Delete Table Modal *@

    <div class="modal" tabindex="-1" id="deletetablemodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Table?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteTableBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    @* Delete multiple Table Modal *@

    <div class="modal" tabindex="-1" id="deletemultipletablemodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Table?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deletemultipleTableBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

@* ============================== *@


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/Section/TableItem.js"></script>

<script>
    @* $(document).ready(function(){
          
    }) *@
</script>


 







